:local .button, .button:focus {
  background-color: #FFFFFF;
  border-color: #FF3435;
  color: #FF3435;
}

:local .button:hover {
  background-color: #FF3435;
  border-color: #FF3435;
  color: #FFFFFF;
}

:local .button:active, .button:active:focus {
  background-color: #8E1616;
  border-color: #8E1616;
  color: #FFFFFF;
}

:local .button:disabled, .button:disabled:hover {
  background-color: #FAFAFA;
  border-color: #DFDFDF;
  color: #919191;
  opacity: 1;
}
