:local .validationError:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -6px;
  left: 20px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  transform: scale(0.9999);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ff3435;
}

:local .validationError {
  display: block;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 15px 20px;
  position: relative;
  background-color: #ff3435;
  color: #ffffff;
}
