<VirtualHost *:80>
    AddOutputFilterByType SUBSTITUTE text/html
    AddOutputFilterByType SUBSTITUTE text/javascript

    ProxyPreserveHost On
    RewriteEngine on
    RewriteRule "^/dynamo_shell/(.*)$" "http://localhost:8022/shell/$1" [P]
    ProxyPassReverse /dynamo_shell/ http://localhost:8022/shell/
    ProxyPassReverse /integrates/dynamo_shell/ http://localhost:8022/shell/
    Substitute "s|/shell/|/integrates/dynamo_shell/|i"

    WSGIScriptAlias / /usr/src/app/fluidintegrates/apache/wsgi.py
    WSGIPassAuthorization On
    ServerAdmin engineering@fluidattacks.com
    Alias /assets/ /usr/src/app/app/assets/
    <Directory "/usr/src/app/fluidintegrates/apache/">
        Require all granted
    </Directory>
    <Directory "/usr/src/app/app/assets/">
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
