<VirtualHost *:80>
	ServerName integrates.fluid.la
	ServerAdmin engineering@fluid.la

	DocumentRoot {{ documentroot }}/fluidintegrates
	WSGIScriptAlias / {{ documentroot }}/fluidintegrates/apache/wsgi.py
	Alias /assets/ {{ documentroot }}/app/assets/
	<Directory "{{ documentroot }}/fluidintegrates/apache/">
		Require all granted
	</Directory>

        <Directory "/assets/">
                Require all granted
        </Directory>

	ErrorLog /var/log/apache2/error.log
	CustomLog /var/log/apache2/custom.log combined
</VirtualHost>
