<VirtualHost *:80>
    WSGIScriptAlias / /usr/src/app/fluidintegrates/apache/wsgi.py
    WSGIPassAuthorization On
    ServerAdmin engineering@fluidattacks.com
    Alias /assets/ /usr/src/app/app/assets/
    <Directory "/usr/src/app/fluidintegrates/apache/">
        Require all granted
    </Directory>
    <Directory "/usr/src/app/app/assets/">
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
