:local .container {
  background-color: #272727;
  overflow: hidden !important;
  z-index: 0;
}

:local .container ul {
  list-style: none;
}

:local .container * {
  outline: none;
}

:local .burgerButton {
  background: #F0F0F0;
  height: 20px;
  left: 15px;
  position: fixed;
  top: 5px;
  width: 28px;
}

:local .burgerButton span {
  background: #272727;
}

:local .closeButton span {
  background: #FFFFFF;
}

@media (min-width: 768px) {
  .burgerButton {
    display: none;
  }
  .closeButton {
    display: none;
  }
}

:local .logo {
  cursor: pointer;
  height: 62px;
  margin-left: 8px;
  margin-top: 43px;
  width: 190px;
}

:local .bottomBar {
  background-color: #FF3435;
  bottom: 0px;
  height: 60px;
  margin: 0px;
  position: absolute;
  width: 100%;
}

:local .bottomBar ul {
  float: left;
  padding-left: 20px;
}

:local .bottomBar li {
  float: left;
}

:local .bottomBar li a {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  padding: 0 18px;
}

:local .bottomBar li a:hover {
  font-weight: bold;
}

:local .bottomBar li a span {
  font-size: 28px;
  line-height: 60px;
}
