
# Unique key for Django, necessary to encrypt and use functions such as CookieStorage or FallbackStorage. If this key does not exist, Django can not work.
export FI_DJANGO_SECRET_KEY='value'
# User for access MySQL databases used by Integrates.
export FI_DB_USER='value'
# Password for access MySQL databases used by Integrates.
export FI_DB_PASSWD='value'
# Server address where the databases are stored.
export FI_DB_HOST='value'
# Access key to AWS CloudWatch service, responsible for the monitoring AWS resources and Integrates backup.
export FI_AWS_CLOUDWATCH_ACCESS_KEY='value'
# Secret key for AWS CloudWatch service, responsible for the monitoring of AWS resources and Integrates backup.
export FI_AWS_CLOUDWATCH_SECRET_KEY='value'
# Unique Token for Mixpanel API consumption, necessary to track users in Integrates.
export FI_MIXPANEL_API_TOKEN='value'
# User for access the Intercom account, app in charge of the live chat of Integrates.
export FI_INTERCOM_APPID='value'
# Password for access the Intercom account, app in charge of the live chat of Integrates.
export FI_INTERCOM_SECURE_KEY='value'
# Unique Token for Slack API consumption, necessary to execute commands from the Slack chat, such as adding or deleting a user to a project.
export FI_SLACK_BOT_TOKEN='value'
# Access user for Google OAuth 2.0, in charge of the authentication (login) of the users that enter Integrates through a Google account.
export FI_GOOGLE_OAUTH2_KEY='value'
# Access password for Google OAuth 2.0, in charge of the authentication (login) of the users that enter Integrates through a Google account.
export FI_GOOGLE_OAUTH2_SECRET='value'
# Access key for Azure OAuth 2.0, responsible of the authentication (login) of users that enter Integrates through a Microsoft account.
export FI_AZUREAD_OAUTH2_KEY='value'
# Access password for Azure OAuth 2.0, responsible of the authentication (login) of users that enter Integrates through a Microsoft account.
export FI_AZUREAD_OAUTH2_SECRET='value'
# Dictionary of credentials for use of google's APIs, it is necessary to access Google Drive where the evidences of the findings are stored.
export FI_DRIVE_AUTHORIZATION='value'
# Tokens for Formstack Api consumption, necessary to access the information of all the findings and eventualities.This is currently the main database.
export FI_FORMSTACK_TOKENS='value'
# Output format of the files generated by DynamoDB, this value must be defined for a correct operation of DynamoDB.
export FI_AWS_OUTPUT='value'
# Access key for access to the DynamoDB service of AWS, necessary to access the database of the comments of each finding.
export FI_AWS_DYNAMODB_ACCESS_KEY='value'
# Secret key for access to the DynamoDB service of AWS, necessary to access the database of the comments of each finding.
export FI_AWS_DYNAMODB_SECRET_KEY='value'
# Parameter necessary for Django. Allows the debug of application. If this variable is not defined, Django can not work.
export FI_DEBUG='value'
# Token for consumption of the Rollbar API, which allows to keep a detailed log of the operating errors that may occur in Integrates.
export FI_ROLLBAR_ACCESS_TOKEN='value'
# Domain of page where Integrates repository is stored.
export FI_GITLAB_MACHINE='value'
# User for account where the master of Integrates repository is stored.
export FI_GITLAB_LOGIN='value'
# Password for account where the master of Integrates repository is stored.
export FI_GITLAB_PASSWORD='value'
# Path of main folder of Integrates in the container and localhost.
export FI_DOCUMENTROOT='value'
# Access key for the access to S3 of AWS, necessary to show the evidences of each finding.
export FI_AWS_S3_ACCESS_KEY='value'
# Secret key for the access to S3 of AWS, necessary to show the evidences of each finding.
export FI_AWS_S3_SECRET_KEY='value'
# Bucket name in S3 of AWS, necessary to show the evidences of each finding.
export FI_AWS_S3_BUCKET='value'
# Variable to define the environment in which the application is running.
export FI_ENVIRONMENT='value'
