image: registry.gitlab.com/fluidsignal/default/integrates/deps:ci

.vault_vars:
  variables:
    VAULT_ADDR: "https://${VAULT_S3_BUCKET}.com"
    VAULT_HOST: "${VAULT_S3_BUCKET}.com"
    VAULT_PORT: 443
    VAULTENV_SECRETS_FILE: "${CI_PROJECT_DIR}/env.vars"
    ENV: DEV
    ENV_NAME: development
    ROLE_ID: "${INTEGRATES_DEV_ROLE_ID}"
    SECRET_ID: "${INTEGRATES_DEV_SECRET_ID}"

.registry_vars: &registry_vars
  variables:
    CI_REGISTRY_USER: "${GITLAB_USER}"
    CI_REGISTRY_PASSWORD: "${GITLAB_PASS}"
    CI_REGISTRY_EMAIL: "${GITLAB_EMAIL}"
    CI_REGISTRY_IMAGE: "${CI_REGISTRY}/fluidsignal/default/integrates"

.vault_setup: &vault_setup |-
  if [ "${CI_COMMIT_REF_NAME}" == "master" ]; then
    export ENV=PROD
    export ENV_NAME=production
    export ROLE_ID="${INTEGRATES_PROD_ROLE_ID}"
    export SECRET_ID="${INTEGRATES_PROD_SECRET_ID}"
  fi
  sed -i 's#/env#/'"${ENV_NAME}"'#g' "${VAULTENV_SECRETS_FILE}"
  export VAULT_TOKEN=$(vault write \
    -field=token auth/approle/login \
    role_id="${ROLE_ID}" \
    secret_id="${SECRET_ID}")

.vault_login: &vault_login
  extends: .vault_vars
  before_script:
    - *vault_setup

.kaniko_config: &kaniko_config
  <<: *registry_vars
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - echo '{"auths":{"'"${CI_REGISTRY}"'":{"username":"'"${CI_REGISTRY_USER}"'","password":"'"${CI_REGISTRY_PASSWORD}"'"}}}'
        > /kaniko/.docker/config.json

.kaniko_vault_config: &kaniko_vault_config
  extends: .vault_vars
  <<: *kaniko_config
  before_script:
    - wget -O vault.zip https://releases.hashicorp.com/vault/0.11.6/vault_0.11.6_linux_amd64.zip;
        unzip vault.zip;
        mv vault /busybox/
    - *vault_setup
    - export FI_DRIVE_AUTHORIZATION=$(vault read -field=drive_authorization secret/integrates/${ENV_NAME})
    - export FI_DRIVE_AUTHORIZATION_CLIENT=$(vault read -field=drive_authorization_client secret/integrates/${ENV_NAME})
    - export FI_DOCUMENTROOT=$(vault read -field=documentroot secret/integrates/${ENV_NAME})
    - export FI_SSL_KEY=$(vault read -field=ssl_key secret/integrates/${ENV_NAME})
    - export FI_SSL_CERT=$(vault read -field=ssl_cert secret/integrates/${ENV_NAME})
    - echo '{"auths":{"'"${CI_REGISTRY}"'":{"username":"'"${CI_REGISTRY_USER}"'","password":"'"${CI_REGISTRY_PASSWORD}"'"}}}'
        > /kaniko/.docker/config.json

stages:
  - deps
  - pre-test
  - build
  - review
  - mr-check
  - deploy
  - post-deploy
  - coverage

deps-app:
  stage: deps
  <<: *kaniko_config
  script:
    - mkdir deploy/containers/deps/front
    - mkdir deploy/containers/deps/mobile
    - cp -a front/package.json deploy/containers/deps/front/
    - cp -a mobile/package.json deploy/containers/deps/mobile/
    - /kaniko/executor
        --cleanup
        --context "${CI_PROJECT_DIR}/deploy/containers/deps/"
        --dockerfile "${CI_PROJECT_DIR}/deploy/containers/deps/Dockerfile.app"
        --destination "${CI_REGISTRY_IMAGE}/deps:app"
        --single-snapshot
        --snapshotMode time
        --verbosity warn
  retry: 1
  only:
    - schedules

deps-ci:
  stage: deps
  <<: *kaniko_config
  script:
    - mkdir deploy/containers/deps/front
    - mkdir deploy/containers/deps/mobile
    - cp -a front/package.json deploy/containers/deps/front/
    - cp -a mobile/package.json deploy/containers/deps/mobile/
    - /kaniko/executor
        --cleanup
        --context "${CI_PROJECT_DIR}/deploy/containers/deps/"
        --dockerfile "${CI_PROJECT_DIR}/deploy/containers/deps/Dockerfile.ci"
        --destination "${CI_REGISTRY_IMAGE}/deps:ci"
        --single-snapshot
        --snapshotMode time
        --verbosity warn
  retry: 1
  only:
    - schedules

terraform-test:
  stage: pre-test
  image: registry.gitlab.com/fluidsignal/serves:builder
  <<: *vault_login
  script:
    - export AWS_ACCESS_KEY_ID="$(
        vault read -field=aws_terraform_access_key secret/integrates/development
      )"
    - export AWS_SECRET_ACCESS_KEY="$(
        vault read -field=aws_terraform_secret_key secret/integrates/development
      )"
    - export TF_VAR_aws_s3_resources_bucket="$(
        vault read -field=aws_s3_resources_bucket secret/integrates/development
      )"
    - cd deploy/terraform
    - terraform init --backend-config="bucket=${FS_S3_BUCKET}"
    - terraform validate
    - terraform plan -refresh=true -out=plan
    - terraform show -no-color plan > plan.txt
    - mv plan.txt "${CI_PROJECT_DIR}"
    - rm plan
  artifacts:
    paths:
      - plan.txt
    expire_in: 1h
    when: on_success
  only:
    - branches
    - merge_requests
  except:
    - master

front-compiler:
  stage: pre-test
  script:
    - cp -a /root/front/node_modules front/
    - cd front
    - npm install --unsafe-perm
    - npm run build:prod
  artifacts:
    paths:
      - app/assets/dashboard/*
    expire_in: 1h
  retry: 1

commitlint:
  stage: pre-test
  image: starefossen/ruby-node:2-10
  script:
    - npm install --unsafe-perm
    - ./ci-scripts/commitlint-checks.sh
  except:
    - master

react-testing:
  stage: pre-test
  script:
    - cp -a /root/front/node_modules front/
    - cd front
    - npm install --unsafe-perm
    - npm run audit
    - npm run lint
    - npm run test
  artifacts:
    name: "coverage_lcov_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA:0:8}"
    paths:
      - front/coverage.lcov
    expire_in: 1 week
  only:
    - /^.*$/
    - merge_requests

mobile-testing:
  stage: pre-test
  script:
    - cp -a /root/mobile/node_modules mobile/
    - cd mobile
    - npm install
    - npm run lint
    - npm test

prospector-testing:
  stage: pre-test
  <<: *vault_login
  script:
    - vaultenv -- prospector -F -s veryhigh -u django -p app/ -i node_modules || true
    - vaultenv -- prospector -F -s high -u django -p app/ -i node_modules
    - vaultenv -- prospector -F -s veryhigh -u django fluidintegrates/
  except:
    - master

unit-testing:
  stage: pre-test
  <<: *vault_login
  script:
    - cp -a $PWD /usr/src/app_src
    - cd /usr/src/app_src
    - service redis-server start
    - vaultenv -- pytest --ds=fluidintegrates.settings --verbose --exitfirst
        --cov=fluidintegrates --cov=app --cov-report term
        --cov-report html:build/coverage/html
        --cov-report xml:build/coverage/results.xml
        --cov-report annotate:build/coverage/annotate
        --basetemp=build/test
        --junitxml=build/test/results.xml
        app/tests.py
    - cp -a build/coverage/results.xml "${CI_PROJECT_DIR}/coverage.xml"
  artifacts:
    name: "coverage_xml_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA:0:8}"
    paths:
      - coverage.xml
    expire_in: 1 week
  only:
    - /^.*$/
    - merge_requests

asserts-code-test:
  stage: pre-test
  image: fluidattacks/asserts
  script:
    - asserts exploit-code.py
  except:
    - master

terraform-deploy:
  stage: build
  image: registry.gitlab.com/fluidsignal/serves:builder
  <<: *vault_login
  script:
    - export AWS_ACCESS_KEY_ID="$(
        vault read -field=aws_terraform_access_key secret/integrates/production
      )"
    - export AWS_SECRET_ACCESS_KEY="$(
        vault read -field=aws_terraform_secret_key secret/integrates/production
      )"
    - export TF_VAR_aws_s3_resources_bucket="$(
        vault read -field=aws_s3_resources_bucket secret/integrates/production
      )"
    - cd deploy/terraform
    - terraform init --backend-config="bucket=${FS_S3_BUCKET}"
    - terraform apply -auto-approve -refresh=true
  only:
    - master

build-integrates:
  stage: build
  dependencies:
    - front-compiler
  <<: *kaniko_vault_config
  script:
    - mv app/assets/dashboard deploy/containers/integrates
    - MINUTES=$((
        ($(date +%d | sed 's/^0//') -1) * 1440 +
        $(date +%H | sed 's/^0//') * 60 +
        $(date +%M | sed 's/^0//')
      ))
    - FI_VERSION="$(date +%y.%m.)${MINUTES}"
    - echo -n "${FI_VERSION}" > version.txt
    - /kaniko/executor
        --build-arg CI_API_V4_URL="${CI_API_V4_URL}"
        --build-arg CI_COMMIT_REF_NAME="${CI_COMMIT_REF_NAME}"
        --build-arg CI_PROJECT_ID="${CI_PROJECT_ID}"
        --build-arg CI_REPOSITORY_URL="${CI_REPOSITORY_URL}"
        --build-arg DOCUMENTROOT="${FI_DOCUMENTROOT}"
        --build-arg DRIVE_AUTHORIZATION="${FI_DRIVE_AUTHORIZATION}"
        --build-arg DRIVE_AUTHORIZATION_CLIENT="${FI_DRIVE_AUTHORIZATION_CLIENT}"
        --build-arg ENV_NAME="${ENV_NAME}"
        --build-arg SSL_CERT="${FI_SSL_CERT}"
        --build-arg SSL_KEY="${FI_SSL_KEY}"
        --build-arg VERSION="${FI_VERSION}"
        --cleanup
        --context "${CI_PROJECT_DIR}/deploy/containers/integrates/"
        --dockerfile "${CI_PROJECT_DIR}/deploy/containers/integrates/Dockerfile"
        --destination "${CI_REGISTRY_IMAGE}/app:${CI_COMMIT_REF_NAME}"
        --single-snapshot
        --snapshotMode time
        --verbosity warn
  retry: 1
  artifacts:
    expire_in: 30m
    paths:
      - version.txt
    when: on_success

build-mobile:
  tags:
    - mobile
  stage: build
  dependencies: []
  <<: *vault_login
  script:
    - cp -a /root/mobile/node_modules mobile/
    - cd mobile/
    - npm install
    - vaultenv -- ./buildApp.sh
  artifacts:
    paths:
      - mobile/output/*
    expire_in: 1h
    when: on_success
  allow_failure: true
  retry: 1

build-bot:
  stage: build
  dependencies: []
  <<: *kaniko_vault_config
  script:
    - /kaniko/executor
        --build-arg CI_API_V4_URL="${CI_API_V4_URL}"
        --build-arg CI_COMMIT_REF_NAME="${CI_COMMIT_REF_NAME}"
        --build-arg CI_PROJECT_ID="${CI_PROJECT_ID}"
        --build-arg ENV_NAME="${ENV_NAME}"
        --cleanup
        --context "${CI_PROJECT_DIR}/deploy/containers/bot/"
        --dockerfile "${CI_PROJECT_DIR}/deploy/containers/bot/Dockerfile"
        --destination "${CI_REGISTRY_IMAGE}/bot:${CI_COMMIT_REF_NAME}"
        --single-snapshot
        --snapshotMode time
        --verbosity warn
  retry: 1

driver-testing:
  stage: post-deploy
  dependencies: []
  <<: *vault_login
  script:
    - cp -a $PWD /usr/src/app_src
    - cd /usr/src/app_src
    - mkdir -p screenshots
    - vaultenv -- pytest
        --ds=fluidintegrates.settings
        --verbose
        --exitfirst
        --basetemp=build/test
        --test-group-count "${CI_NODE_TOTAL}"
        --test-group "${CI_NODE_INDEX}"
        app/ephimeral_tests.py
    - cp -a screenshots "${CI_PROJECT_DIR}"
  parallel: 3
  retry: 1
  artifacts:
    name: "regression_${CI_COMMIT_REF_NAME}_${CI_COMMIT_SHA:0:8}"
    paths:
      - screenshots/

review-integrates:
  stage: review
  image: registry.gitlab.com/fluidsignal/serves:builder
  dependencies: []
  <<: *vault_login
  script:
    - vaultenv review-apps/cluster-config.sh
  retry: 1
  environment:
    name: "review/$CI_COMMIT_REF_SLUG"
    url: "https://$CI_COMMIT_REF_SLUG.$CI_PROJECT_NAME.env.fluidattacks.com/integrates"
    on_stop: stop-review
  except:
    - master

stop-review:
  stage: review
  image: registry.gitlab.com/fluidsignal/serves:builder
  dependencies: []
  environment:
    name: review/$CI_COMMIT_REF_SLUG
    action: stop
  variables:
    GIT_STRATEGY: none
  script:
    - kubectl config set-context
        "$(kubectl config current-context)"
        --namespace="${CI_PROJECT_NAME}"
    - kubectl delete deployment "review-${CI_COMMIT_REF_SLUG}"
    - kubectl delete service "service-${CI_COMMIT_REF_SLUG}"
    - kubectl delete ingress "review-${CI_COMMIT_REF_SLUG}"
  retry: 1
  when: manual
  except:
    - master

asserts-review:
  stage: post-deploy
  image: fluid-docker.jfrog.io/fluid:integrates
  dependencies: []
  variables:
    APP: "integrates"
    BRANCH: "${CI_COMMIT_REF_NAME}"
    FA_STRICT: "true"
    ORG: "fluid"
    PASS: "${INTEGRATES_JFROG_PASS}"
    STAGE: "review"
    USER: "${INTEGRATES_JFROG_USER}"
  script:
    - cp -a * /code/
    - /entrypoint.sh
  retry: 1
  except:
    - master

mr-test:
  stage: mr-check
  dependencies: []
  variables:
    GIT_STRATEGY: clone
  script:
    ./ci-scripts/check-branch.sh
  only:
    - merge_request3.86.193.211s

danger:
  stage: mr-check
  image: starefossen/ruby-node:2-10
  dependencies:
    - terraform-test
  variables:
    DANGER_GITLAB_API_TOKEN: ${DANGER_TOKEN}
    DANGER_GITLAB_HOST: "gitlab.com"
    DANGER_GITLAB_API_BASE_URL: "https://gitlab.com/api/v4"
  before_script:
    - export CI_MERGE_REQUEST_ID=$(git ls-remote -q origin merge-requests\*\head
      | grep ${CI_COMMIT_SHA}
      | sed 's/.*refs\/merge-requests\/\([0-9]*\)\/head/\1/g')
    - npm install --unsafe-perm
    - bundle install
  script:
    - bundle exec danger --verbose --fail-on-errors=true
  only:
    - merge_requests

deploy-k8s:
  stage: deploy
  image: registry.gitlab.com/fluidsignal/serves:builder
  dependencies: []
  environment:
    name: "production"
    url: "https://fluidattacks.com/integrates"
  <<: *vault_login
  script:
    - kubectl config set-context "$(kubectl config current-context)"
        --namespace serves
    - if ! kubectl get secret gitlab-reg; then
        echo "Creating secret to access Gitlab Registry...";
        kubectl create secret docker-registry gitlab-reg
          --docker-server="${CI_REGISTRY}" --docker-username="${GITLAB_USER}"
          --docker-password="${GITLAB_PASS}" --docker-email="${GITLAB_EMAIL}";
      fi
    - sed -i 's/$VAULT_HOST/'"$(echo -n $VAULT_HOST | base64)"'/;
        s/$VAULT_TOKEN/'"$(echo -n $VAULT_TOKEN | base64)"'/;
        s/$DATE/'"$(date)"'/g'
        integrates-k8s.yaml
    - kubectl apply -f integrates-k8s.yaml
    - kubectl rollout status deploy/integrates --timeout=5m ||
        { kubectl rollout undo deploy/integrates && exit 1; }
    - kubectl rollout status deploy/integrates-bot --timeout=5m ||
        { kubectl rollout undo deploy/integrates-bot && exit 1; }
    - curl https://api.rollbar.com/api/1/deploy/
        -F access_token=$ROLLBAR_ACCESS_TOKEN
        -F environment=$FI_ROLLBAR_ENVIRONMENT
        -F revision=$CI_COMMIT_SHA
        -F local_username="$CI_COMMIT_REF_NAME"
    - vaultenv ./new_relic_deployment.sh
  after_script:
    - rm integrates-k8s.yaml
  only:
    - master

new-version-mail:
  stage: post-deploy
  dependencies:
    - build-integrates
  <<: *vault_login
  script:
    - export DJANGO_SETTINGS_MODULE=fluidintegrates.settings
    - vaultenv -- python integrates_version.py
  only:
    - master
  except:
    - schedules

asserts-prod:
  stage: post-deploy
  image: fluid-docker.jfrog.io/fluid:integrates
  dependencies: []
  variables:
    APP: "integrates"
    BRANCH: "${CI_COMMIT_REF_NAME}"
    FA_STRICT: "true"
    ORG: "fluid"
    PASS: "${INTEGRATES_JFROG_PASS}"
    STAGE: "post-deploy"
    USER: "${INTEGRATES_JFROG_USER}"
  script:
    - cp -a * /code/
    - /entrypoint.sh
  retry: 1
  only:
    - master

coverage-report:
  stage: coverage
  dependencies:
    - unit-testing
    - react-testing
  <<: *vault_login
  script:
    - vaultenv ./run_codecov.sh
  retry: 1
  only:
    - merge_requests
  except:
    - master
