app/documentator/results/*.pdf
app/documentator/tpls/*.tpl
app/documentator/images/*.png
app/autodoc/results/*.xlsx
app/autodoc/results/*.pptx
!app/autodoc/templates/*.pptx
!app/autodoc/templates/*.xlsx
logs
*.pyc
*.sqlite3
*.retry
.bundle
Gemfile.lock
vendor
config/drive_authorization.json
app/assets/node_modules
app/assets/package-lock.json
deploy/containers/.vault.txt
deploy/containers/integrates/.vault.txt
deploy/.terraform
deploy/terraform.tfstate
*.envrc
