app/documentator/results/*.pdf
app/documentator/tpls/*.tpl
app/documentator/images/*.png
app/autodoc/results/*.xlsx
app/autodoc/results/*.pptx
app/techdoc/results/*.xlsx
!app/autodoc/templates/*.pptx
!app/autodoc/templates/*.xlsx
!app/techdoc/templates/*.xlsx
logs
*.pyc
*.sqlite3
*.retry
.bundle
Gemfile.lock
vendor
config/drive_authorization.json
app/assets/node_modules
app/assets/package-lock.json
deploy/containers/.vault.txt
deploy/containers/integrates/.vault.txt
deploy/.terraform
deploy/terraform.tfstate
*.envrc
env.list
config/drive_client_secret.json
config/drive_client.json
.torus.json
.vscode/

# Rule for ignore non compiled js files over dashboard
front/node_modules
front/src/**/*.js
front/src/**/*.jsx
front/src/**/*.css.d.ts
front/package-lock.json
app/assets/login/*.js
app/assets/dashboard/*
env-dev.vars
local-test.sh
local-linting.sh

# mobile
mobile/node_modules/**/*
mobile/.expo/*
mobile/npm-debug.*
mobile/*.jks
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/google-services.json
mobile/output/*

#coverage output
front/.nyc_output
front/coverage.lcov
front/coverage_results.txt
front/coverage

# npm
package-lock.json
node_modules

# Commitlint
commitlint.config.js
parser-preset.js

# Terraform
.terraform/
*.tfstate
