django==1.11
requests==2.13.0
openpyxl==2.4.7
lxml==3.7.3
python-pptx==0.6.5
pyyaml==3.12
decorators==0.1.1
retrying==1.3.3
urllib3==1.19.1
fluidasserts==0.20170719.1624
social-auth-app-django==1.1.0
pylint==1.7.1
pylint-django==0.7.2
prospector==0.12.5
mysqlclient==1.3.10
django-sslserver==0.19
ansible==2.3.1.0
ansible-lint==3.4.13
django-crontab==0.7.1
django-analytical==2.2.2
mandrill==1.0.57
apiclient==1.0.2
python-magic==0.4.13
