:local .first_row{
  margin-top: 10%;
}
.google{
  background-color: #CC0000;
  border-color: #AA0000;
  color: white !important;
  height: 40px !important;
  text-align: left !important;
}
.azure{
  color: white !important;
  height: 40px !important;
  text-align: left !important;
}
:local .text_center{
  text-align: center !important;
}
:local .lang_icon {
  cursor: pointer;
}
:local .lang_icon:hover {
  font-weight: bold;
}
:local .white{
  color: white !important;
}
:local .top_space{
  margin-top: 10px;
}
:local .google_btn {
  background-color: #CC0000;
  border-color: #AA0000;
  border-radius: 0px !important;
  color: white !important;
  height: 40px !important;
}
:local .azure_btn {
  border-radius: 0px !important;
  color: white !important;
  height: 40px !important;
}
:local .lang_text:hover{
  cursor: pointer;
}
:local .fleft{
  text-align: left;
  margin-left: 30px;
  margin-top: -5px;
}
:local .near_top{
  margin-top: -5px;
}
:local .fright{
  float: right;
}
