backports.csv==1.0.6
boto3==1.9.109
botocore==1.12.109
cryptography==2.6.1
django==1.11.20
django-analytical==2.5.0
django-cookies-samesite==0.2.0
django-crontab==0.7.1
django-intercom==0.1.2
django-redis==4.10.0
django-redis-sessions==0.6.1
django-sslserver==0.20
exponent_server_sdk==0.2.0
google-api-python-client==1.7.8
google-auth==1.6.3
graphene==2.1.7
graphene-django==2.4.0
future==0.17.1
httplib2==0.12.1
idna==2.8
jinja2==2.10
mandrill-really-maintained==1.2.4
matplotlib==2.2.4
mixpanel==4.3.2
mysqlclient==1.3.14
newrelic==4.14.0.115
oauth2client==4.1.3
openpyxl==2.5.14
psycopg2==2.8.1
pykwalify==1.7.0
pypdf2==1.26.0
python-i18n==0.3.6
python-jose==3.0.1
python-magic==0.4.15
python2-secrets==1.0.5
pytz==2018.9
redis==2.10.6
redis-py-cluster==1.3.6
requests==2.21.0
retrying==1.3.3
rollbar==0.14.7
simplejson==3.16.0
slackclient==1.3.1
social-auth-app-django==3.1.0
watchtower==0.5.5
