:local .widgetbox {
  padding: 15px 8px;
  margin-top: 30px;
  height: 160px;
  box-shadow: 0px 0px 10px rgba(201, 201, 201, 1);
}

:local .widgetbox:hover {
  box-shadow: 0px 0px 10px rgba(85, 85, 85, 1);
  cursor: pointer;
}

:local .widgeticon {
    display: inline-block;
    float: right;
    font-size: 45px;
    line-height: 54px;
}

:local .widgetdescription {
  font-size: 12px;
  font-weight: 100;
  word-wrap: break-word;
}
:local .widgetvalue {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
:local .widgetvaluesmall {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
}
:local .widgetvalue > sup {
    font-weight: 300;
    font-size: 25px;
    font-weight: normal;
}
:local .widgetvaluesmall > sup {
    font-weight: 300;
    font-size: 15px;
    font-weight: normal;
}
:local .widgetdesc {
    font-size: 16px;
    line-height: 18px;
    padding-top: 6px;
}

:local hr {
    margin-top: 0px;
    border-top: 1px solid #c9c9c9;
}
