:local .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

:local .inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

:local .inputfile:focus + label,
.inputfile.has_focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

:local .inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

:local .inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

:local .inputfile_evidence + label {
    color: #ff3435;
    border: 1px solid #ff3435;
    background-color: #F5AD99;
    padding: 0;
}

:local .inputfile_evidence:focus + label,
.inputfile_evidence.has_focus + label,
.inputfile_evidence + label:hover {
    border-color: #8E1616;
}

:local .inputfile_evidence + label > span,
.inputfile_evidence + label > strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

:local .inputfile_evidence + label > span {
    width: 130px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

:local .inputfile_evidence + label > strong {
    height: 100%;
    color: #fff;
    background-color: #ff3435;
    display: inline-block;
}

:local .inputfile_evidence:focus + label > strong,
.inputfile_evidence.has_focus + label > strong,
.inputfile_evidence + label:hover > strong {
    background-color: #8E1616;
}

@media screen and (max-width: 50em) {
  .inputfile_evidence + label > strong {
    display: block;
  }
}

:local .text_center {
    text-align: center;
}