<div class="modal-colored-header">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{modalTitle}}</h3>
        </div>
        <div class="modal-body form" id="modal-body">
            <div class="form-group" data-parsley-validate="">
                <div class="row" data-ng-repeat="repo in repoInfo.repositories">
                    <div class="col-md-6">
                        <label><label style="color: #f22;">* </label>{{'search_findings.tab_resources.repository' | translate}}</label>
                        <input rows="1"
                            id="{{'repo' + repo.id}}"
                            class="form-control repositoryInput"
                            data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}"
                            required=""
                            ng-model="repo.repository" required>
                    </div>
                    <div class="col-md-5">
                        <label><label style="color: #f22;">* </label>{{'search_findings.tab_resources.branch' | translate}}</label>
                        <input rows="1"
                            id="{{'branch' + repo.id}}"
                            class="form-control repositoryInput"
                            data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}"
                            required=""
                            ng-model="repo.branch" required>
                    </div>
                    <div class="col-md-1" style="margin-top: 40px;" ng-show="!isFirst">
                        <button class="btn btn-primary" type="button" ng-click="removeRepository(repo.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="button" ng-click="addNewRepository()"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default modal-close" type="button" ng-click="close()">{{'confirmmodal.cancel' | translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.proceed' | translate}}</button>
        </div>
    </div>
</div>