<div class="modal-colored-header">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{modalTitle}}</h3>
        </div>
        <div class="modal-body form" id="modal-body">
            <div class="form-group" data-parsley-validate="">
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.textbox' | translate}}</label>
                <input rows="1" id="emailInput" class="form-control" data-parsley-type-message="{{'search_findings.tab_users.wrong_format' | translate}}" data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}" required="" type="email"   style="resize:none;" ng-model="newUserInfo.userEmail" translate-attr="{ placeholder: 'search_findings.tab_users.email' }" required>
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.user_organization' | translate}}</label>
                <input rows="1" id="organizationInput" class="form-control" data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}" data-parsley-required="true" style="resize:none;" ng-model="newUserInfo.userOrganization" >
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.role' | translate}}:</label>
                <select ng-model="newUserInfo.userRole" class="form-control" required>
                        <option ng-if="isAdmin" value="analyst">{{'search_findings.tab_users.analyst' | translate}}</option>
                        <option ng-if="isAdmin" value="admin">{{'search_findings.tab_users.admin' | translate}}</option>
                        <option ng-if="isAdmin || isProjectManager" value="customer">{{'search_findings.tab_users.customer' | translate}}</option>
                        <option ng-if="isAdmin || isProjectManager" value="customeradmin">{{'search_findings.tab_users.customer_admin' | translate}}</option>
                    </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default modal-close" type="button" ng-click="close()">{{'confirmmodal.cancel' | translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.proceed' | translate}}</button>
        </div>
    </div>
</div>
