<div class="modal-colored-header">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{modalTitle}}</h3>
        </div>
        <div class="modal-body form" id="modal-body">
            <div class="form-group" data-parsley-validate="">
                <label ng-show="!disableOnEdit"><label style="color: #f22;">* </label>{{'search_findings.tab_users.textbox' | translate}}</label>
                <input rows="1"
                    id="emailInput"
                    ng-show="!disableOnEdit"
                    class="form-control"
                    data-parsley-type-message="{{'search_findings.tab_users.wrong_format' | translate}}"
                    data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}"
                    required=""
                    type="email"
                    ng-model="newUserInfo.userEmail"
                    translate-attr="{ placeholder: 'search_findings.tab_users.email' }" required>
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.user_organization' | translate}}:</label>
                <input rows="1" id="organizationInput" class="form-control" data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}" data-parsley-required="true" style="resize:none;" ng-model="newUserInfo.userOrganization" >
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.role' | translate}}:</label>
                <select ng-model="newUserInfo.userRole" class="form-control" required>
                        <option ng-if="isAdmin" value="analyst">{{'search_findings.tab_users.analyst' | translate}}</option>
                        <option ng-if="isAdmin" value="admin">{{'search_findings.tab_users.admin' | translate}}</option>
                        <option ng-if="isAdmin || isProjectManager" value="customer">{{'search_findings.tab_users.customer' | translate}}</option>
                        <option ng-if="isAdmin || isProjectManager" value="customeradmin">{{'search_findings.tab_users.customer_admin' | translate}}</option>
                    </select>
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.user_responsibility' | translate}}:</label>
                <input rows="1"
                        id="responsibilityInput"
                        class="form-control"
                        data-parsley-required="true"
                        data-parsley-required-message="{{'search_findings.tab_users.requiered_field' | translate}}"
                        data-parsley-maxlength="50"
                        data-parsley-maxlength-message="{{'search_findings.tab_users.user_max_responsibility' | translate}}"
                        ng-model="newUserInfo.userResponsibility"
                        translate-attr="{ placeholder: 'search_findings.tab_users.responsibility_placeholder' }">
                <br>
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.phone_number' | translate}}:</label>
                <input type="tel"
                        id="phone"
                        class="form-control"
                        ng-model="newUserInfo.userPhone"
                        intl-tel-input
                        intl-tel-input-options="{
                        separateDialCode: true,
                        utilsScript: newUserInfo.utilsUrl, initialCountry: 'co'}" required>
                <div ng-show="newUserInfo.errorMessage" style="color: #f22;">{{'search_findings.tab_users.error_phone' | translate}}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default modal-close" type="button" ng-click="close()">{{'confirmmodal.cancel' | translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.proceed' | translate}}</button>
        </div>
    </div>
</div>
