<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h3>{{modalTitle}}</h3>
            <hr>
            <div class="row">
                <label><label style="color: #f22;">* </label>{{'search_findings.tab_users.textbox' | translate}}</label>
                <textarea rows="1" class="form-control" style="resize:none;" ng-model="newUserInfo.userEmail" translate-attr="{ placeholder: 'search_findings.tab_users.email' }" required></textarea>
            </div>
            <br>
            <div class="row">
                <select ng-model="newUserInfo.userRole" class="form-control" required>
                    <option ng-if="isAdmin" value="analyst">{{'search_findings.tab_users.analyst' | translate}}</option>
                    <option ng-if="isAdmin" value="admin">{{'search_findings.tab_users.admin' | translate}}</option>
                    <option ng-if="isAdmin || isProjectAdmin" value="customer">{{'search_findings.tab_users.customer' | translate}}</option>
                    <option ng-if="isAdmin || isProjectAdmin" value="customeradmin">{{'search_findings.tab_users.customer_admin' | translate}}</option>
                </select>
            </div>
            <br>
            <p>{{'confirmmodal.confirm' | translate}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">{{'confirmmodal.no' | translate}}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.yes' | translate}}</button>
</div>
