<div class="modal-colored-header">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{modalTitle}}</h3>
        </div>
        <div class="modal-body form" id="modal-body">
            <div class="form-group">
                <label> {{'deletemodal.justification' | translate}} </label><label style="color: #f22;"> *</label>
                <select class="form-control" ng-model="vuln.justification" ng-required="true">
                    <option value="{{'deletemodal.change_evidence' | translate}}" selected>{{'deletemodal.change_evidence' | translate}}</option>
                    <option value="{{'deletemodal.finding_changed' | translate}}">{{'deletemodal.finding_changed' | translate}}</option>
                    <option value="{{'deletemodal.not_vulnerability' | translate}}">{{'deletemodal.not_vulnerability' | translate}}</option>
                    <option value="{{'deletemodal.duplicated' | translate}}">{{'deletemodal.duplicated' | translate}}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default modal-close" type="button" ng-click="close()">{{'confirmmodal.cancel' | translate}}</button>
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.proceed' | translate}}</button>
        </div>
    </div>
</div>
