<div class="page-head" style="padding-bottom:1px!important;">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a ng-click="goBack();" class="breadcrumb_pointer">{{project}}</a></li>
    </ol>
    <div id="header_alert"></div>
    <br>
    <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
        <strong>{{ atAlert }}</strong> {{ descAlert1 }} {{ openEvents }} {{ descAlert2 }}
    </div>
</div>

<!-- Start FindingContent -->
<div class="main-content" style="background-color: white; padding-top:1px!important;" >
  <div class="row">
      <div class="col-md-8 col-xs-12 col-sm-12 text-left">
          <h2 style="margin-top:0px !important;">{{header.findingTitle}}</h2>
      </div>
      <div ng-if="isAdmin && draftsButton">
          <div ng-if="draftsButton" class="col-md-2 col-xs-12 col-sm-12">
              <button class="btn btn-success btn-block" ng-click="acceptDraft();">
                  <i class="glyphicon glyphicon-ok"></i> {{'search_findings.project_buttons.accept' | translate}}
              </button>
          </div>
          <div ng-if="draftsButton" class="col-md-2 col-xs-12 col-sm-12">
              <button class="btn btn-warning btn-block" ng-click="deleteDraft();">
                  <i class="glyphicon glyphicon-remove"></i> {{'search_findings.project_buttons.delete' | translate}}
              </button>
          </div>
      </div>
      <div ng-if="(!isAdmin) || (isAdmin && !draftsButton)">
        	<div class="col-md-offset-2 col-md-2 col-xs-12 col-sm-12" ng-show="isManager && hasAccess">
              <button class="btn btn-warning btn-block" ng-click="deleteFinding();">
                  <i class="icon s7-trash"></i> {{'search_findings.project_buttons.delete' | translate}}
              </button>
          </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">
          <hr/>
      </div>
  </div>
</div>
<!-- End FindingContent -->

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #eventualities thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
