<div class="page-head" style="padding-bottom:1px!important;">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a ng-click="goBack();" class="breadcrumb_pointer">{{project}}</a></li>
    </ol>
    <div id="header_alert"></div>
    <br>
    <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
        <strong>{{ atAlert }}</strong> {{ descAlert1 }} {{ openEvents }} {{ descAlert2 }}
    </div>
</div>

<!-- Start FindingContent -->
<div class="main-content" style="background-color: white; padding-top:1px!important;" >
  <div class="row">
      <div class="col-md-8 col-xs-12 col-sm-12 text-left">
          <h2 style="margin-top:0px !important;">{{header.findingTitle}}</h2>
      </div>
      <div ng-if="isAdmin && draftsButton">
          <div ng-if="draftsButton" class="col-md-2 col-xs-12 col-sm-12">
              <button class="btn btn-success btn-block" ng-click="acceptDraft();">
                  <i class="glyphicon glyphicon-ok"></i> {{'search_findings.project_buttons.accept' | translate}}
              </button>
          </div>
          <div ng-if="draftsButton" class="col-md-2 col-xs-12 col-sm-12">
              <button class="btn btn-warning btn-block" ng-click="deleteDraft();">
                  <i class="glyphicon glyphicon-remove"></i> {{'search_findings.project_buttons.delete' | translate}}
              </button>
          </div>
      </div>
      <div ng-if="(!isAdmin) || (isAdmin && !draftsButton)">
        	<div class="col-md-offset-2 col-md-2 col-xs-12 col-sm-12" ng-show="isManager && hasAccess">
              <button class="btn btn-warning btn-block" ng-click="deleteFinding();">
                  <i class="icon s7-trash"></i> {{'search_findings.project_buttons.delete' | translate}}
              </button>
          </div>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">
          <hr/>
      </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">ID</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default">{{header.findingID}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.status' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default" style="{{header.findingStateColor}}">{{header.findingState}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.criticity' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                      <span class="label label-default" style="{{header.findingValueColor}}">{{header.findingValue}} {{header.findingValueDescription}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.vulnerabilities' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default">{{header.findingCount}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.report' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default control-label">{{header.releaseDate}}</span>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12" style="margin-top:10px;">
          <!-- Start Tab Set -->
          <div class="tab-container">
              <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                  <li id="infoItem" class="active" style="font-size:16px;" ng-click="urlDescription();" >
                      <a href="#info" data-toggle="tab" aria-expanded="false">
                      <i class="icon s7-note2" ></i>&nbsp;{{'search_findings.tab_description.description_name' | translate}}</a>
                  </li>
                  <li id="cssv2Item" class="" style="font-size:16px;" ng-click="urlSeverity();">
                      <a href="#cssv2" data-toggle="tab" aria-expanded="false" >
                      <i class="icon s7-calculator" ></i>&nbsp;{{'search_findings.tab_cssv2.description_name' | translate}}</a>
                  </li>
                  <li id="evidenceItem" style="font-size:16px;" ng-click="urlEvidence();">
                      <a href="#evidence" data-toggle="tab">
                      <i class="icon s7-photo"></i>&nbsp;{{'search_findings.tab_evidence.evidence_name' | translate}}</a>
                  </li>
                  <li id="exploitItem" style="font-size:16px;" ng-click="urlExploit();">
                      <a href="#exploit" data-toggle="tab">
                      <i class="icon s7-file"></i>&nbsp;Exploit</a>
                  </li>
                  <li id="trackingItem" class="" style="font-size:16px;" ng-click="urlTracking();">
                      <a href="#tracking" data-toggle="tab" aria-expanded="true">
                      <i class="icon s7-graph1"></i>&nbsp;{{'search_findings.tab_tracking.tracking_name' | translate}}</a>
                  </li>
                  <li id="recordsItem" class="" style="font-size:16px;" ng-click="urlRecords();">
                      <a href="#records" data-toggle="tab" aria-expanded="true">
                      <i class="icon s7-notebook"></i>&nbsp;{{'search_findings.tab_records.records_name' | translate}}</a>
                  </li>
                  <li id="commentItem" class="" style="font-size:16px;" ng-show="!hasDraft" ng-click="urlComments();">
                      <a href="#comment" data-toggle="tab">
                      <i class="icon s7-comment"></i>&nbsp;{{'search_findings.tab_comments.comments_name' | translate}}</a>
                  </li>
                  <li id="observationsItem" style="font-size:16px;" ng-show="isManager" ng-click="urlObservations();">
                      <a href="#observations" data-toggle="tab">
                      <i class="icon s7-note"></i>&nbsp;{{'search_findings.tab_observations.observations_name' | translate}}</a>
                  </li>
              </ul>
              <!-- Start Tabs -->
              <div class="tab-content">
                  <!-- Start Tab Info -->
                  <div ng-if="currentTab === 'description'">
                    <description-view
                      finding-id="finding.id"
                      project-name="project"
                      user-role="userRole"
                    />
                  <div id="info" class="tab-pane cont active" ng-if="false">
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treatmentTooltip' | translate}}"><label><b>{{'search_findings.tab_description.treatment' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treatmentTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab4">{{finding.treatment}}</p>
                                      <select ng-model="finding.treatment"
                                              ng-show="!onlyReadableTab4"
                                              class="form-control">
                                          <option value="Asumido">{{'finding_formstack.treatment_header.asummed' | translate}}</option>
                                          <option value="Nuevo">{{'finding_formstack.treatment_header.working' | translate}}</option>
                                          <option value="Remediar">{{'finding_formstack.treatment_header.remediated' | translate}}</option>
                                      </select>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_managerTooltip' | translate}}"><label><b>{{'search_findings.tab_description.treat_manager' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_managerTooltip' | translate}}">
                                      <p>{{finding.treatmentManager}}</p>
                                  </div>
                              </div>
                              <div class="row table-row" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_justificationTooltip' | translate}}">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.treat_justification' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab4">{{finding.treatmentJustification}}</p>
                                      <textarea class="form-control no-resize"
                                                ng-show="!onlyReadableTab4"
                                                ng-model="finding.treatmentJustification">{{finding.treatmentJustification}}</textarea>
                                      <span class="badge" style="font-size: 14px;background-color: #272727; margin-left:97%" ng-show="!onlyReadableTab4" >{{0 + finding.treatmentJustification.length}}</span>
                                  </div>
                              </div>
                              <div class="row table-row" ng-show="!isManager">
                                <div class="row">
                                  <div class="col-md-2 col-md-offset-10 col-xs-12 col-sm-12">
                                    <button class="btn btn-success btn-block"
                                            ng-show="!onlyReadableTab4"
                                            ng-click="updateTreatment();">
                                            <i class="glyphicon glyphicon-repeat"></i>  {{'search_findings.tab_description.update_treatment' | translate}}
                                    </button>
                                  </div>
                                </div>
                              </div>
                         </div>
                      </div>
                      </div>
                  </div>
                  <!-- End Tab Info -->
                  <!-- Start Tab Cssv2 -->
                  <div id="cssv2" class="tab-pane cont">
                    <div ng-if="currentTab === 'severity'">
                    <severity-view
                      can-edit="(userRole === 'analyst' || userRole === 'admin') && hasAccess"
                      finding-id="finding.id"
                    />
                    </div>
                  </div>
                  <!-- End Tab CSSv2 -->
                  <!-- Start Tab Evidence -->
                  <div id="evidence" class="tab-pane cont">
                    <div ng-if="currentTab === 'evidence'">
                      <evidence-view
                        can-edit="(userRole === 'analyst' || userRole === 'admin') && hasAccess"
                        finding-id="finding.id"
                        project-name="project"
                      />
                    </div>
                  </div>
                  <!-- End Tab Evidence -->
                  <!-- Start Tab Exploit -->
                  <div id="exploit" class="tab-pane cont">
                    <div ng-if="currentTab === 'exploit'">
                      <exploit-view
                        can-edit="(userRole === 'analyst' || userRole === 'admin') && hasAccess"
                        finding-id="finding.id"
                        project-name="project"
                      />
                    </div>
                  </div>
                  <!-- End Tab Exploit -->
                  <!-- Start Tab Tracking -->
                  <div id="tracking" class="tab-pane cont">
                    <div class="tab-content" ng-if="currentTab === 'tracking'">
                      <tracking-view
                        open-findings-content="finding.where"
                        closed-findings-content="finding.closed"
                        has-new-vulnerabilities="hasNewVulnerabilities"
                        finding-id="finding.id"
                        user-role="userRole"
                      />
                    </div>
                  </div>
                  <!-- End Tab Tracking -->
                  <!-- Start Tab Record -->
                  <div id="records" class="tab-pane cont">
                    <div ng-if="currentTab === 'records'">
                      <records-view
                        finding-id="finding.id"
                        project-name="project"
                        translations="translations"
                        can-edit="isManager && hasAccess"/>
                    </div>
                  </div>
                  <!-- End Tab Record -->
                  <!-- Start Tab Comment -->
                  <div ng-if="currentTab === 'comments'">
                  <comments-view
                    type="'comment'"
                    finding-id="finding.id"/>
                  </div>
                  <!-- End Tab Comment -->
                  <!-- Start Tab observations -->
                  <div ng-if="currentTab === 'observations'">
                  <comments-view
                    type="'observation'"
                    finding-id="finding.id"/>
                  </div>
                  <!-- End Tab observations -->
              </div>
              <!-- End Tabs -->
          </div>
          <!--End Tab Set -->
      </div>
  </div>
</div>
<!-- End FindingContent -->

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #eventualities thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
