<div class="page-head">
    <ol class="breadcrumb">
        <li>{{'search_findings.page_head.breadcrumb.project' | translate}}</li>
        <li><a class="text-uppercase">{{project}}</a></li>
    </ol>
    <div id="header_alert"></div>
    <div class="text-center">
        <!-- Start SearchBox -->
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <input class="form-control text-center text-uppercase" ng-model="project" id="project" placeholder="{{'search_findings.filter_menu.search.placeholder' | translate}}">
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary form-control" id="search" ng-click="search();" title="{{'search_findings.filter_menu.search.button' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
            </div>
        </div>
        <!-- End SearchBox -->
    </div>
</div>
<!-- START: MODAL AVANCE -->
<script type="text/ng-template" id="avance.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{'progress_mod.title' | translate}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul style="list-style: none;">
            <li ng-repeat="r in rows"> - {{'progress_mod.finding' | translate}} #<a href={{r.link}}>{{r.id}}</a>:&nbsp;[{{r.criticidad}}&nbsp;CVSS]&nbsp;{{r.hallazgo}}&nbsp;({{r.cardinalidad}})&nbsp;->&nbsp;[{{r.registros_num}},&nbsp;{{r.atributos}}]
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<!-- START: MODAL TECNICO -->
<script type="text/ng-template" id="technicalReportModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{'technical_report_mod.title' | translate}}</h3>
    </div>
    <div class="modal-body" id="modal-body" style="padding-top:1px!important; color:red;">
        <p class='text-center'>{{'technical_report_mod.body_1' | translate}}</p>
        <p class='text-center'>{{'technical_report_mod.body_2' | translate}}</p>
        <button class="btn btn-success" ng-click="findingMatrizXLSReport();">XLS</button>
        <button class="btn btn-danger" ng-click="findingMatrizPDFReport();">PDF</button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<!-- START: MODAL EJECUTIVO -->
<script type="text/ng-template" id="executiveReportModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{'executive_report_mod.title' | translate}}</h3>
    </div>
    <div class="modal-body text-center" id="modal-body">
        <p class='text-center' id="hasPresentationMsg">{{'executive_report_mod.message' | translate}}</p>
        <!--<button class="btn btn-danger" ng-click="findingMatrizPDFReport();"><i class="fa fa-file-pdf-o"></i>PDF</button>-->
        <button class="btn btn-danger" id="hasPresentation" style='display:none;' ng-click="findingMatrizPDFPresentation();"><i class="fa fa-file-powerpoint-o
"></i> PDF</button>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<!-- Start ProjectContent -->
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3>{{'grapExploit.title' | translate}}</h3>
                    <div id="grapExploit" style="width:250px; height:250px; margin: auto;"></div>
                </div>
                <div class="col-md-4 text-center">
                    <h3>{{'grapType.title' | translate}}</h3>
                    <div id="grapType" style="width:250px; height:250px; margin: auto;"></div>
                </div>
                <div class="col-md-4 text-center">
                    <h3>{{'grapStatus.title' | translate}}</h3>
                    <div id="grapStatus" style="width:250px; height:250px; margin: auto;"></div>
                </div>
            </div>
            <div class="row">
                <div class="tab-container">
                        <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                        <li class="active" style="font-size:15px;">
                            <a href="#findings" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-light"></i>&nbsp;{{'tab_container.findings' | translate}}
                            </a>
                        </li>
                        <li class="" style="font-size:15px;">
                            <a href="#eventualities" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-star"></i>&nbsp;{{'tab_container.eventualities' | translate}}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="findings" class="tab-pane cont active">
                            <div class="row container">
                                <label><b>{{'search_findings.filter_labels.findings' | translate}}</b></label>
                                <label id="total_hallazgos"></label> &nbsp;&nbsp;&nbsp;
                                <label><b>{{'search_findings.filter_labels.cardinalities' | translate}}</b></label>
                                <label id="total_cardinalidad"></label> &nbsp;&nbsp;&nbsp;
                                <label><b>{{'search_findings.filter_labels.criticity' | translate}}</b></label>
                                <label id="total_criticidad"></label> &nbsp;&nbsp;&nbsp;
                                <label><b>{{'search_findings.filter_labels.closure' | translate}}</b></label>
                                <label id="total_efectividad"></label> &nbsp;&nbsp;&nbsp;
                            </div>
                            <div class="btn-group" >
                                <script>
                                    $(document).ready(function() {
                                        if (userRole == "customer") {
                                            $('#progress_button').hide();
                                        }
                                    });
                                </script>
                                <button type="button" id="progress_button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'search_findings.filter_buttons.advance' | translate}}!" ng-click="openModalAvance();">
                                    {{'search_findings.filter_buttons.advance' | translate}} <i class="glyphicon glyphicon-bookmark"></i>
                                </button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'search_findings.filter_buttons.documentation' | translate}}" ng-click="technicalReportModal();">
                                    {{'technical_report_mod.title' | translate}} <i class="glyphicon glyphicon-th-list"></i>
                                </button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{'search_findings.filter_buttons.documentation' | translate}}" ng-click="executiveReportModal();">
                                    {{'executive_report_mod.title' | translate}} &nbsp;<i class="glyphicon glyphicon-briefcase"></i>
                                </button>
                            </div>
                            <!-- START: toolbar -->
                            <div id="toolbar" style="padding-top: 5%;">
                              <p>{{'search_findings.descriptions.description1' | translate}} <b>{{'search_findings.descriptions.description2' | translate}}</b> {{'search_findings.descriptions.description3' | translate}}</p>
                            </div>

                            <table id="vulnerabilities"
                                   data-click-to-select="true"
                                   data-classes="table table-hover table-striped"
                                   data-striped="true"
                                   data-show-columns="true"
                                   data-cookie="true"
                                   data-cookie-id-table="saveId"
                                   data-show-export="true"
                                   data-export-types="['sql', 'excel']"
                                   data-pagination="true"
                                   data-search="true"
                                   data-page-size="15"
                                   data-toolbar="#toolbar">
                                <thead>
                                    <tr class="head-blue" style="background-color: #0361cc; color:white;">
                                        <th data-field="timestamp"
                                            data-sortable="true"
                                            data-width="5%"
                                            data-formatter="removeHour"
                                            data-visible="false">
                                            {{'search_findings.table.headings.timestamp' | translate}}
                                        </th>
                                        <th data-field="edad"
                                            data-align="center"
                                            data-width="5%"
                                            data-sortable="true">
                                            {{'search_findings.table.headings.age' | translate}}
                                        </th>
                                        <th data-field="tipo_hallazgo_cliente" data-width="5%" data-sortable="true">
                                            {{'search_findings.table.headings.type' | translate}}
                                        </th>
                                        <th data-field="hallazgo" data-width="15%" data-sortable="true">
                                            {{'search_findings.table.headings.finding' | translate}}
                                        </th>
                                        <th data-field="vulnerabilidad" data-width="40%" style="display:none;">
                                            {{'search_findings.table.headings.vulnerability' | translate}}
                                        </th>
                                        <th data-field="criticidad" data-width="5%" data-align="center" data-sortable="true">
                                            {{'search_findings.table.headings.criticity' | translate}}
                                        </th>
                                        <th data-field="cardinalidad" data-width="5%" data-align="center" data-sortable="true">
                                            {{'search_findings.table.headings.cardinality' | translate}}
                                        </th>
                                        <th data-field="estado" data-width="5%" data-sortable="true" data-formatter="labelState">
                                            {{'search_findings.table.headings.state' | translate}}
                                        </th>
                                        <th data-field="tratamiento" data-width="5%" data-align="center" data-sortable="true">
                                            {{'search_findings.table.headings.treatment' | translate}}
                                        </th>
                                        <th data-field="explotable" data-width="5%" data-align="center" data-sortable="true">
                                            {{'search_findings.table.headings.exploit' | translate}}
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div id="eventualities" class="tab-pane cont">
                            <div class="row">
                                <!-- START: toolbar -->
                                <div class="btn-group" id="toolbar2">
                                    <p><b>{{'search_findings.eventualities.description' | translate}}</b></p>
                                </div>
                                <div class="col-md-12">
                                    <table id="tblEventualities" data-classes="table table-hover table-striped" data-striped="true" data-pagination="true" data-page-size="15" data-toolbar="#toolbar2" data-search="true">
                                        <thead>
                                            <tr>
                                                <th data-field="id">{{'search_findings.event_table.id' | translate}}</th>
                                                <th data-field="fecha" data-sortable="true">{{'search_findings.event_table.date' | translate}}</th>
                                                <th data-field="tipo">{{'search_findings.event_table.type' | translate}}</th>
                                                <th data-field="estado" data-sortable="true">{{'search_findings.event_table.status' | translate}}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End ProjectContent -->

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
        font-size: 14px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #vulnerabilities thead tr{ background-color: #337ab7; color:white;  }
    #eventualities thead tr{ background-color: #337ab7; color:white;  }

</style>
<!-- End CommonStyles -->
