<div class="page-head" style="padding-bottom:1px!important;">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a class="text-uppercase">{{project}}</a></li>
    </ol>
    <div id="header_alert"></div>
    <br>
    <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
        <strong>{{ atAlert }}</strong> {{ descAlert1 }} {{ openEvents }} {{ descAlert2 }}
    </div>
</div>

<!-- Start FindingContent -->
<div class="main-content" style="background-color: white; padding-top:1px!important;" >
  <div class="row">
      <div class="col-md-2 col-xs-12 col-sm-12">
          <button class="btn btn-default btn-block" ng-click="goBack();">
              <i class="icon s7-angle-left"></i> {{'search_findings.project_buttons.back' | translate}}
          </button>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 text-left">
          <h2 style="margin-top:0px !important;">{{header.findingTitle}}</h2>
      </div>
      <div class="col-md-2 col-xs-12 col-sm-12 has-release" style="display: none;">
          <button class="btn btn-success btn-block" ng-click="acceptRelease();">
              <i class="glyphicon glyphicon-ok"></i> {{'search_findings.project_buttons.accept' | translate}}
          </button>
      </div>
      <div class="col-md-2 col-xs-12 col-sm-12 has-release" style="display: none;">
          <button class="btn btn-warning btn-block" ng-click="rejectRelease();">
              <i class="glyphicon glyphicon-remove"></i> {{'search_findings.project_buttons.reject' | translate}}
          </button>
      </div>
      <div class="col-md-12 col-xs-12 col-sm-12">
          <hr/>
      </div>
  </div>
  <div class="row">

  </div>
  <div class="row">
      <div class="col-sm-12 col-md-12">
          <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">ID</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default">{{header.findingID}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.type' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default">{{header.findingType}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.criticity' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                      <span class="label label-default" style="{{header.findingValueColor}}">{{header.findingValue}} {{header.findingValueDescription}}</span>
              </div>
          </div>
          <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.vulnerabilities' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default">{{header.findingCount}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.status' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default" style="{{header.findingStateColor}}">{{header.findingState}}</span>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6 text-right">{{'search_findings.project_labels.report' | translate}}</div>
              <div class="col-md-2 col-sm-6 col-xs-6"  style="padding-bottom: 10px;">
                  <span class="label label-default control-label">{{finding.timestamp}}</span>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-12" style="margin-top:10px;">
          <!-- Start Tab Set -->
          <div class="tab-container">
              <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                  <li id="infoItem" class="active" style="font-size:16px;" ng-click="urlReleaseDescription();" >
                      <a href="#info" data-toggle="tab" aria-expanded="false">
                      <i class="icon s7-note2" ></i>&nbsp;{{'search_findings.tab_description.description_name' | translate}}</a>
                  </li>
                  <li id="cssv2Item" class="" style="font-size:16px;" ng-click="urlReleaseSeverity();">
                      <a href="#cssv2" data-toggle="tab" aria-expanded="false" >
                      <i class="icon s7-calculator" ></i>&nbsp;{{'search_findings.tab_cssv2.description_name' | translate}}</a>
                  </li>
                  <li id="evidenceItem" style="font-size:16px;" ng-click="urlReleaseEvidence();">
                      <a href="#evidence" data-toggle="tab">
                      <i class="icon s7-photo"></i>&nbsp;{{'search_findings.tab_evidence.evidence_name' | translate}}</a>
                  </li>
                  <li id="exploitItem" style="font-size:16px;" ng-show="hasExploit || isManager" ng-click="urlReleaseExploit();">
                      <a href="#exploit" data-toggle="tab">
                      <i class="icon s7-file"></i>&nbsp;Exploit</a>
                  </li>
                  <li id="recordsItem" class="" style="font-size:16px;" ng-show="hasRecords || isManager" ng-click="urlReleaseRecords();">
                      <a href="#records" data-toggle="tab" aria-expanded="true">
                      <i class="icon s7-notebook"></i>&nbsp;{{'search_findings.tab_records.records_name' | translate}}</a>
                  </li>
              </ul>
              <!-- Start Tabs -->
              <div class="tab-content">
                  <!-- Start Tab Info -->
                  <div id="info" class="tab-pane cont active">
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="row table-row" ng-show="isManager && !onlyReadableTab1">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.type' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab1">{{finding.level}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.stageTooltip' | translate}}"><label><b>{{'search_findings.tab_description.stage' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.stageTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.scenario}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.actorTooltip' | translate}}"><label><b>Actor</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.actorTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.actor}}</p>
                                  </div>
                              </div>
                              <div class="row table-row" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.descriptionTooltip' | translate}}">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.description' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab1">{{finding.vulnerability}}</p>
                                  </div>
                              </div>
                              <div class="row table-row" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.requirementsTooltip' | translate}}">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.requirements' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab1">{{finding.requirements}}</p>
                                  </div>
                              </div>
                              <div class="row table-row" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.whereTooltip' | translate}}">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.where' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <textarea msd-elastic class="form-control" rows="4"
                                                ng-show="onlyReadableTab1"
                                                disabled style="margin-bottom: 5px;"
                                                ng-model="finding.where">{{finding.where}}</textarea>
                                  </div>
                              </div>
                              <div class="row table-row" ng-show="!onlyReadableTab1">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.cardinality' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab1">{{finding.openVulnerabilities}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.vectorsTooltip' | translate}}"><label><b>{{'search_findings.tab_description.vectors' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.vectorsTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.attackVector}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.threatTooltip' | translate}}"><label><b>{{'search_findings.tab_description.threat' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.threatTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.threat}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.recommendationTooltip' | translate}}"><label><b>{{'search_findings.tab_description.recommendation' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.recommendationTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.effectSolution}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.systemTooltip' | translate}}"><label><b>{{'search_findings.tab_description.system' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.systemTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.affectedSystems}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.compromisedAtributesTooltip' | translate}}"><label><b>{{'search_findings.tab_description.compromisedAtributes' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.compromisedAtributesTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1 && !hasCompromisedAttributes">0</p>
                                      <p ng-show="onlyReadableTab1 && hasCompromisedAttributes">{{finding.records}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.compromisedRecordsTooltip' | translate}}"><label><b>{{'search_findings.tab_description.compromisedRecords' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.compromisedRecordsTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab1">{{finding.recordsNumber}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.weaknessTooltip' | translate}}"><label><b>{{'search_findings.tab_description.weakness' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.weaknessTooltip' | translate}}">
                                      <a ng-href="{{finding.cwe || ''}}" target="_blank" ng-show="onlyReadableTab1 && finding.cweIsUrl">{{finding.cwe || ''}}</a>
                                      <p ng-show="onlyReadableTab1 && !finding.cweIsUrl">{{finding.cwe || ''}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.btsTooltip' | translate}}"><label><b>{{'search_findings.tab_description.bts_external' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.btsTooltip' | translate}}">
                                      <a ng-href="{{finding.btsExterno || ''}}" target="_blank" ng-show="onlyReadableTab4 && finding.hasUrl">{{finding.externalBts || ''}}</a>
                                      <p ng-show="onlyReadableTab4 && !finding.hasUrl">{{finding.externalBts || ''}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treatmentTooltip' | translate}}"><label><b>{{'search_findings.tab_description.treatment' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treatmentTooltip' | translate}}">
                                      <p ng-show="onlyReadableTab4">{{finding.treatment}}</p>
                                  </div>
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_managerTooltip' | translate}}"><label><b>{{'search_findings.tab_description.treat_manager' | translate}}</b></label></div>
                                  <div class="col-md-4 col-xs-12 col-sm-12 table-desc" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_managerTooltip' | translate}}">
                                      <p>{{finding.treatmentManager}}</p>
                                  </div>
                              </div>
                              <div class="row table-row" data-toggle="tooltip" data-placement="top" title="{{'search_findings.tab_description.treat_justificationTooltip' | translate}}">
                                  <div class="col-md-2 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_description.treat_justification' | translate}}</b></label></div>
                                  <div class="col-md-10 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab4">{{finding.treatmentJustification}}</p>
                                  </div>
                              </div>
                         </div>
                      </div>
                  </div>
                  <!-- End Tab Info -->
                  <!-- Start Tab Cssv2 -->
                  <div id="cssv2" class="tab-pane cont">
                      <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.vector' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.accessVector}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.confidenciality' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.confidentialityImpact}}</p>
                                  </div>
                              </div><div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.integrity' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.integrityImpact}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.availability' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.availabilityImpact}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.authentication' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.authentication}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.exploitability' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.exploitability}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.confidence' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.confidenceLevel}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.resolution' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.resolutionLevel}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>{{'search_findings.tab_cssv2.complexity' | translate}}</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc">
                                      <p ng-show="onlyReadableTab2">{{finding.accessComplexity}}</p>
                                  </div>
                              </div>
                              <div class="row table-row">
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>CVSS v2 Base</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc"><p>{{finding.cssv2base}}</p></div>
                                  <div class="col-md-3 col-xs-12 col-sm-12 table-head"><label><b>CVSS v2 Temporal</b></label></div>
                                  <div class="col-md-9 col-xs-12 col-sm-12 table-desc"><p>{{finding.criticity}}</p></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- End Tab CSSv2 -->
                  <!-- Start Tab Evidence -->
                  <div id="evidence" class="tab-pane cont">
                      <div class="popup-gallery">
                        <div class="row">
                            <div ng-repeat="ev in tabEvidences">
                                <div class="col-md-4 col-sm-6 col-xs-12 equalHeight">
                                    <div class="panel panel-default" ng-show="onlyReadableTab3" ng-if="ev.desc != ''">
                                      <div class="panel-body">
                                        <div mag-thumb="inner-inline" mag-flow="inline">
                                            <a ng-href="{{ev.url || ''}}" title="{{ev.desc}}">
                                                <img ng-src="{{ev.url || ''}}"
                                                    style="max-width:100%;"
                                                    class="integrates-image img-thumbnail img-responsive"
                                                    width="600" height="600"/>
                                            </a>
                                        </div>
                                      </div>
                                      <div class="panel-footer" style="background-color: #fff;">
                                        <div class="row">
                                            <label><b>{{'search_findings.tab_evidence.detail' | translate}}</b></label>
                                        </div>
                                        <div class="row">
                                            <p ng-show="onlyReadableTab3">{{ev.desc}}</p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- End Tab Evidence -->
                  <!-- Start Tab Exploit -->
                  <div id="exploit" class="tab-pane cont" ng-show="hasExploit || isManager">
                    <div ng-show="hasExploit">
                        <pre prism-highlight source="{{exploitURL}}" class="language-python line-numbers"></pre>
                    </div>
                  </div>
                  <!-- End Tab Exploit -->
                  <!-- Start Tab Record -->
                  <div id="records" class="tab-pane cont" ng-show="hasRecords || isManager">
                      <div class="row">
                          <table id="recordsTable"
                                   data-click-to-select="false"
                                   data-classes="table table-hover table-striped"
                                   data-striped="true"
                                   data-show-columns="true"
                                   data-cookie="true"
                                   data-show-export="false"
                                   data-pagination="true"
                                   data-search="true"
                                   data-page-size="15"
                                   data-toolbar="#toolbar">
                          </table>
                      </div>
                  </div>
                  <!-- End Tab Record -->
              </div>
              <!-- End Tabs -->
          </div>
          <!--End Tab Set -->
      </div>
  </div>
</div>
<!-- End FindingContent -->

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
        font-size: 14px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #vulnerabilities thead tr{ background-color: #898787; color:white;  }
    #eventualities thead tr{ background-color: #898787; color:white;  }
    #recordsTable thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
