<div class="modal-body" id="modal-body">
    <div class="row">
    	<div class="col-md-12">
    		<h3>{{modalTitle}}</h3>
	        <hr>
	        <label> {{'search_findings.tab_description.solution' | translate}} </label><label style="color: #f22;"> *</label>
	        <textarea rows="6" class="form-control" ng-model="remediatedData.justification" translate-attr="{ placeholder: 'proj_alerts.short_remediated_comment' }" required></textarea>
	        <br>
	        <p>{{'confirmmodal.confirm' | translate}}</p>
    	</div>        
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="close()">{{'confirmmodal.no' | translate}}</button>
    <button class="btn btn-primary" type="button" ng-click="ok()">{{'confirmmodal.yes' | translate}}</button>
</div>