:local .tab {
  font-size: 16px;
  text-align: center;
}

:local .tab > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #FFFFFF;
  color: #666666;
}

@media (min-width: 768px) {
  .tab {
    display: table-cell;
    width: 1%;
  }
  .tab > a {
    margin-bottom: 0;
  }
}

:local .tabsContainer {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  background-color: white;
  border-bottom: 1px #EEEEEE solid;
}

:local .tabContent {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

:local .mainContainer {
  padding: 1px 35px 0 35px;
  background-color: white;
}
