<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="tab-content">
        <div id="comments" class="tab-pane cont active" >
          <project-comments-view project-name="project"/>
        </div>
    </div>
</div>

<!-- Start CommonStyles -->
    <style>
    .column-button {
        width: 50%;
        display:flex;
        padding-left: auto;
        padding-right: auto;
    }
    .pull-right > input {
        width: 400px;
        display:flex;
    }
    @media screen and (max-width: 1320px;) {
    .column-button {
        width: 50%;
        display:flex;
      }
    }
    @media screen and (max-width: 1160px;) {
    .column-button {
        width: 50%;
        display:flex;
      }
    .pull-right > input {
        width: 300px;
        display:flex;
      }
    }
    @media screen and (max-width: 768px) {
    .column-button {
        width: 100%;
        display:initial;
        float: none;
      }
    }
    @media screen and (max-width: 400px) {
    .column-button {
        width: 100%;
        display:initial;
        float: none;
      }
      .pull-right > input {
          width: 250px;
          display:flex;
      }
    }

    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #resources thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
