<div class="page-head">
    <div class="row">
        <div class="col-md-3">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Dashboard</a></li>
                <li><a class="text-uppercase">{% templatetag openvariable %} project {% templatetag closevariable %}</a></li>
            </ol>
        </div>
        <div class="col-md-9">
            <div class="text-center">
                <!-- Start SearchBox -->
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control text-center text-uppercase" ng-model="project" id="project" placeholder="{% templatetag openvariable %} 'search_findings.filter_menu.search.placeholder' | translate {% templatetag closevariable %}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary form-control" id="search" ng-click="search();" title="{% templatetag openvariable %} 'search_findings.filter_menu.search.button' | translate {% templatetag closevariable %}">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
                    </div>
                </div>
                <!-- End SearchBox -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="header_alert"></div>
        <br>
        <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
            <strong>{% templatetag openvariable %} atAlert {% templatetag closevariable %}</strong> {% templatetag openvariable %} descAlert1 {% templatetag closevariable %} {% templatetag openvariable %} openEvents {% templatetag closevariable %} {% templatetag openvariable %} descAlert2 {% templatetag closevariable %}
        </div>
    </div>
</div>
<!-- START: MODAL AVANCE -->
<script type="text/ng-template" id="avance.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{% templatetag openvariable %} 'event_by_name.modal_avance.title' | translate {% templatetag closevariable %}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul style="list-style: none;">
            <li ng-repeat="r in rowsEvent"> #{% templatetag openvariable %} r.id {% templatetag closevariable %} &nbsp;{% templatetag openvariable %} r.type {% templatetag closevariable %} &nbsp;[{% templatetag openvariable %} r.fecha {% templatetag closevariable %} ] ({% templatetag openvariable %}  (r.affectation === undefined)?"Pendiente":r.affectation {% templatetag closevariable %})
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
    </div>
</script>
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="tab-container">
                    <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                        <li id="indicatorsTab" class="" style="font-size:15px;" ng-click="urlIndicators();">
                            <a href="#indicators" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-graph3"></i>&nbsp; {% templatetag openvariable %} 'tab_container.indicators' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="findingsTab" class="" style="font-size:15px;" ng-click="urlFindings();">
                            <a href="#findings" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-light"></i>&nbsp;{% templatetag openvariable %} 'tab_container.findings' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="releasesTab" class="" style="font-size:15px;" ng-click="urlReleases();" ng-show="isManager">
                            <a href="#releases" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-stopwatch"></i>&nbsp; Releases
                            </a>
                        </li>
                        <li id="eventsTab" class="active" style="font-size:15px;" ng-click="urlEvents();">
                            <a href="#eventualities" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-star"></i>&nbsp;{% templatetag openvariable %} 'tab_container.eventualities' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="usersTab" class="" style="font-size:15px;" ng-click="urlUsers();">
                            <a href="#users" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-users"></i>&nbsp;{% templatetag openvariable %} 'tab_container.users' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="eventualities" class="tab-pane cont active">
                            <div class="row">
                                <script>
                                    $(document).ready(function() {
                                        if (userRole == "customer" || userRole == "customeradmin") {
                                            $('#progress_event').hide();
                                        }
                                    });
                                </script>
                                <div class="btn-group"  id="progress_event">
                                    <button type="button"
                                            class="btn btn-default"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="{{ search_findings.event_by_name.btn_group.resume }}!"
                                            ng-click="openModalEventAvance();">
                                            {{ search_findings.event_by_name.btn_group.resume }}
                                        <i class="glyphicon glyphicon-bookmark"></i>
                                    </button>
                                </div>
                                <!-- START: toolbar -->
                                <div id="toolbar2">
                                    <p><b>{{ search_findings.eventualities.description }}</b></p>
                                </div>
                                <div class="col-md-12">
                                    <table id="tblEventualities" data-classes="table table-hover table-striped" data-striped="true" data-pagination="true" data-page-size="15" data-toolbar="#toolbar2" data-search="false">
                                        <thead>
                                            <tr>
                                                <th data-field="id" data-halign="center" data-valign="middle" data-width="5%">{{ search_findings.event_table.id }}</th>
                                                <th data-field="fecha" data-halign="center" data-valign="middle" data-width="10%" data-sortable="true">{{ search_findings.event_table.date }}</th>
                                                <th data-field="detalle" data-halign="center" data-valign="middle" data-width="40%" data-sortable="true">{{ search_findings.event_table.details }}</th>
                                                <th data-field="type" data-halign="center" data-valign="middle" data-width="15%">{{ search_findings.event_table.type }}</th>
                                                <th data-field="estado"
                                                    data-halign="center"
                                                    data-valign="middle"
                                                    data-width="10%"
                                                    data-sortable="true"
                                                    data-align="center"
                                                    data-formatter="labelEventState">{{ search_findings.event_table.status }}</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
        font-size: 14px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #vulnerabilities thead tr{ background-color: #898787; color:white;  }
    #eventualities thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
