<div class="page-head">
    <div class="row">
        <div class="col-md-3">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Dashboard</a></li>
                <li><a class="text-uppercase">{% templatetag openvariable %} project {% templatetag closevariable %}</a></li>
            </ol>
        </div>
        <div class="col-md-9">
            <div class="text-center">
                <!-- Start SearchBox -->
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control text-center text-uppercase" ng-model="project" id="project" placeholder="{% templatetag openvariable %} 'search_findings.filter_menu.search.placeholder' | translate {% templatetag closevariable %}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary form-control" id="search" ng-click="search();" title="{% templatetag openvariable %} 'search_findings.filter_menu.search.button' | translate {% templatetag closevariable %}">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
                    </div>
                </div>
                <!-- End SearchBox -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="header_alert"></div>
        <br>
        <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
            <strong>{% templatetag openvariable %} atAlert {% templatetag closevariable %}</strong> {% templatetag openvariable %} descAlert1 {% templatetag closevariable %} {% templatetag openvariable %} openEvents {% templatetag closevariable %} {% templatetag openvariable %} descAlert2 {% templatetag closevariable %}
        </div>
    </div>
</div>
<!-- START: MODAL AVANCE -->
<script type="text/ng-template" id="avance.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{% templatetag openvariable %} 'progress_mod.title' | translate {% templatetag closevariable %}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul style="list-style: none;">
            <li ng-repeat="r in rows"> - {% templatetag openvariable %} 'progress_mod.finding' | translate {% templatetag closevariable %} #<a href="{% templatetag openvariable %} r.link {% templatetag closevariable %}">{% templatetag openvariable %} r.id {% templatetag closevariable %}</a>:&nbsp;[{% templatetag openvariable %} r.criticity {% templatetag closevariable %}&nbsp;CVSS]&nbsp;{% templatetag openvariable %} r.finding {% templatetag closevariable %}&nbsp;({% templatetag openvariable %} r.openVulnerabilities {% templatetag closevariable %})&nbsp;->&nbsp;[{% templatetag openvariable %} r.recordsNumber {% templatetag closevariable %},&nbsp;{% templatetag openvariable %} r.atributos {% templatetag closevariable %}]
        </ul>
        <br>
        <ul style="list-style: none;">
            <li>{% templatetag openvariable %} 'search_findings.filter_labels.criticity' | translate {% templatetag closevariable %}: {% templatetag openvariable %} totalSeverity {% templatetag closevariable %}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<!-- START: MODAL INFORMES -->
<script type="text/ng-template" id="reportModal.html">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="modal-title" id="modal-title">{% templatetag openvariable %} 'reports.title' | translate {% templatetag closevariable %}</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="border-right: 1px solid #eee;">
                    <h3 class="text-center">{% templatetag openvariable %} 'reports.technical_report_mod.title' | translate {% templatetag closevariable %}</h3>
                    <div class="text-technical">
                        <p>{% templatetag openvariable %} 'reports.technical_report_mod.body_1' | translate {% templatetag closevariable %}</p>
                    <p>{% templatetag openvariable %} 'reports.technical_report_mod.body_2' | translate {% templatetag closevariable %}</p>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <button class="btn btn-success" ng-click="findingMatrizTechnicalXLSReport();"><i class="fa fa-file-excel-o"></i>  XLS</button>
                        <button class="btn btn-danger" ng-click="findingMatrizTechnicalPDFReport();"><i class="fa fa-file-pdf-o"></i>  PDF</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">{% templatetag openvariable %} 'reports.executive_report_mod.title' | translate {% templatetag closevariable %}</h3>
                    <p class='text-center' id="hasPresentationMsg">{% templatetag openvariable %} 'reports.executive_report_mod.message' | translate {% templatetag closevariable %}</p>
                    <div class="col-md-6 col-md-offset-4">
                        <!--<button class="btn btn-danger" ng-click="findingMatrizExecutivePDFReport;"><i class="fa fa-file-pdf-o"></i>PDF</button>-->
                        <button class="btn btn-danger" id="hasPresentation" style='display:none;' ng-click="findingMatrizExecutivePDFPresentation();"><i class="fa fa-file-pdf-o"></i>  PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="tab-container">
                    <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                        <!-- <li id="indicatorsTab" class="active" style="font-size:15px;" ui-sref="Forms" ng-click="urlIndicators();"> -->
                        <li id="indicatorsTab" class="" style="font-size:15px;" ng-click="urlIndicators();">
                            <a href="#indicators" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-graph3"></i>&nbsp; {% templatetag openvariable %} 'tab_container.indicators' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="findingsTab" class="active" style="font-size:15px;" ng-click="urlFindings();">
                            <a href="#findings" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-light"></i>&nbsp;{% templatetag openvariable %} 'tab_container.findings' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="eventsTab" class="" style="font-size:15px;" ng-click="urlEvents();">
                            <a href="#eventualities" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-star"></i>&nbsp;{% templatetag openvariable %} 'tab_container.eventualities' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="usersTab" class="" style="font-size:15px;" ng-click="urlUsers();">
                            <a href="#users" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-users"></i>&nbsp;{% templatetag openvariable %} 'tab_container.users' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="findings" class="tab-pane cont active">
                            <div class="btn-group" >
                                <script>
                                    $(document).ready(function() {
                                        if (userRole == "customer" || userRole == "customeradmin") {
                                            $('#progress_button').hide();
                                        }
                                    });
                                </script>
                                <button type="button" id="progress_button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{ search_findings.filter_buttons.advance}}!" ng-click="openModalAvance();">
                                    {{ search_findings.filter_buttons.advance }} <i class="glyphicon glyphicon-bookmark"></i>
                                </button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{{ search_findings.filter_buttons.documentation }}" ng-controller="reportGeneratorCtrl" ng-click="reportModal();">
                                    {% templatetag openvariable %} 'reports.title' | translate {% templatetag closevariable %} <i class="glyphicon glyphicon-briefcase"></i>
                                </button>
                            </div>
                            <!-- START: toolbar -->
                            <div id="toolbar" style="padding-top: 5%;">
                              <p>{{ search_findings.descriptions.description1 }} <b>{{ search_findings.descriptions.description2 }}</b> {{ search_findings.descriptions.description3 }}</p>
                            </div>

                            <table id="vulnerabilities"
                                   class="fixed-table-container"
                                   data-click-to-select="true"
                                   data-classes="table table-hover table-striped"
                                   data-striped="true"
                                   data-show-columns="true"
                                   data-cookie="true"
                                   data-cookie-id-table="saveId"
                                   data-show-export="true"
                                   data-export-types="['sql', 'excel']"
                                   data-pagination="true"
                                   data-search="true"
                                   data-page-size="15"
                                   data-toolbar="#toolbar">
                                <thead>
                                    <tr class="head-blue result_table_header" style="background-color: #0361cc; color:white;">
                                        <th data-field="timestamp"
                                            data-sortable="true"
                                            data-width="5%"
                                            data-formatter="removeHour"
                                            data-visible="false"
                                            class="result_table_col"
                                            data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.timestamp }}
                                        </th>
                                        <th data-field="edad"
                                            data-align="center"
                                            data-width="5%"
                                            data-sortable="true"
                                            class="result_table_col"
                                            data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.age }}
                                        </th>
                                        <th data-field="lastVulnerability"
                                            data-align="center"
                                            data-width="5%"
                                            data-sortable="true"
                                            class="result_table_col"
                                            data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.lastVulnerability }}
                                        </th>
                                        <th data-field="clientFindingType" data-width="5%" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.type }}
                                        </th>
                                        <th data-field="finding" data-width="15%" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.finding }}
                                        </th>
                                        <th data-field="vulnerability" data-width="40%" style="display:none;" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.vulnerability }}
                                        </th>
                                        <th data-field="criticity" data-width="5%" data-align="center" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.criticity }}
                                        </th>
                                        <th data-field="openVulnerabilities" data-width="5%" data-align="center" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.cardinality }}
                                        </th>
                                        <th data-field="estado" data-width="5%" data-sortable="true" data-formatter="labelState" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.state }}
                                        </th>
                                        <th data-field="treatment" data-width="5%" data-align="center" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.treatment }}
                                        </th>
                                        <th data-field="exploitable" data-width="5%" data-align="center" data-sortable="true" class="result_table_col" data-halign="center" data-valign="middle">
                                            {{ search_findings.headings.exploit }}
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
        font-size: 14px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #vulnerabilities thead tr{ background-color: #898787; color:white;  }
    #eventualities thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
