<!-- START: MODAL INFORMES -->
<script type="text/ng-template" id="reportModal.html">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="modal-title" id="modal-title">{% templatetag openvariable %} 'reports.title' | translate {% templatetag closevariable %}</h2>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="border-right: 1px solid #eee;">
                    <h3 class="text-center">{% templatetag openvariable %} 'reports.technical_report_mod.title' | translate {% templatetag closevariable %}</h3>
                    <div class="text-technical">
                        <p>{% templatetag openvariable %} 'reports.technical_report_mod.body_1' | translate {% templatetag closevariable %}</p>
                    <p>{% templatetag openvariable %} 'reports.technical_report_mod.body_2' | translate {% templatetag closevariable %}</p>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <button class="btn btn-success" ng-click="findingMatrizTechnicalXLSReport();"><i class="fa fa-file-excel-o"></i>  XLS</button>
                        <button class="btn btn-danger" ng-click="findingMatrizTechnicalPDFReport();"><i class="fa fa-file-pdf-o"></i>  PDF</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-center">{% templatetag openvariable %} 'reports.executive_report_mod.title' | translate {% templatetag closevariable %}</h3>
                    <p class='text-center' id="hasPresentationMsg">{% templatetag openvariable %} 'reports.executive_report_mod.message' | translate {% templatetag closevariable %}</p>
                    <div class="col-md-6 col-md-offset-4">
                        <!--<button class="btn btn-danger" ng-click="findingMatrizExecutivePDFReport;"><i class="fa fa-file-pdf-o"></i>PDF</button>-->
                        <button class="btn btn-danger" id="hasPresentation" style='display:none;' ng-click="findingMatrizExecutivePDFPresentation();"><i class="fa fa-file-pdf-o"></i>  PDF</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
    </div>
</script>
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="tab-container">
                    <div class="tab-content">
                        <div id="findings" class="tab-pane cont active">
                            <!-- START: toolbar -->
                            <div id="toolbar">
                              <p>{{ search_findings.descriptions.description1 }} <b>{{ search_findings.descriptions.description2 }}</b> {{ search_findings.descriptions.description3 }}</p>
                            </div>
                            <d-table
                              dataset="findingsDataset"
                              export-csv="true"
                              headers="tblFindingsHeaders"
                              on-click-row="goToFinding"
                              page-size="15"
                              search="true"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #eventualities thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
