<div class="page-head">
    <ol class="breadcrumb">
        <li><a ui-sref="home">Dashboard</a></li>
        <li><a class="text-uppercase">{% templatetag openvariable %} project {% templatetag closevariable %}</a></li>
    </ol>
    <div id="header_alert"></div>
    <div class="text-center">
        <!-- Start SearchBox -->
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <input class="form-control text-center text-uppercase" ng-model="project" id="project" placeholder="{% templatetag openvariable %} 'search_findings.filter_menu.search.placeholder' | translate {% templatetag closevariable %}">
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary form-control" id="search" ng-click="search();" title="{% templatetag openvariable %} 'search_findings.filter_menu.search.button' | translate {% templatetag closevariable %}">
                    <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
            </div>
        </div>
        <!-- End SearchBox -->
    </div>
</div>                    
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="tab-container">
                    <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                        <!-- <li id="indicatorsTab" class="active" style="font-size:15px;" ui-sref="Forms" ng-click="urlIndicators();"> -->
                        <li id="indicatorsTab" class="active" style="font-size:15px;" ng-click="urlIndicators();">
                            <a href="#indicators" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-graph3"></i>&nbsp; {% templatetag openvariable %} 'tab_container.indicators' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="findingsTab" class="" style="font-size:15px;" ng-click="urlFindings();">
                            <a href="#findings" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-light"></i>&nbsp;{% templatetag openvariable %} 'tab_container.findings' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="eventsTab" class="" style="font-size:15px;" ng-click="urlEvents();">
                            <a href="#eventualities" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-star"></i>&nbsp;{% templatetag openvariable %} 'tab_container.eventualities' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="indicators" class="tab-pane cont active">
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-repeat="metric in metricsList">
                                        <div class="col-md-3 col-xs-12">
                                            <div class="widget-box equalWidgetHeight" style="{% templatetag openvariable %} metric.color {% templatetag closevariable %} color: #fff;">
                                                <div class="col-md-4 col-xs-4">
                                                    <div class="widget-icon">
                                                        <span class="{% templatetag openvariable %} metric.icon {% templatetag closevariable %}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-8 col-xs-8">
                                                    <div data-toggle="counter" class="widget-value">{% templatetag openvariable %} metric.value {% templatetag closevariable %}</div>
                                                    <div class="widget-desc">{% templatetag openvariable %} metric.description {% templatetag closevariable %}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4 text-center">
                                    <h3>{% templatetag openvariable %} 'grapExploit.title' | translate {% templatetag closevariable %}</h3>
                                    <div id="grapExploit" style="width:250px; height:250px; margin: auto;"></div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>{% templatetag openvariable %} 'grapType.title' | translate {% templatetag closevariable %}</h3>
                                    <div id="grapType" style="width:250px; height:250px; margin: auto;"></div>
                                </div>
                                <div class="col-md-4 text-center">
                                    <h3>{% templatetag openvariable %} 'grapStatus.title' | translate {% templatetag closevariable %}</h3>
                                    <div id="grapStatus" style="width:250px; height:250px; margin: auto;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start CommonStyles -->
<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FD2; }
    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
        font-size: 14px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #vulnerabilities thead tr{ background-color: #337ab7; color:white;  }
    #eventualities thead tr{ background-color: #337ab7; color:white;  }

</style>
<!-- End CommonStyles -->