<div class="page-head">
    <div class="row">
        <div class="col-md-3">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Dashboard</a></li>
                <li><a class="text-uppercase">{% templatetag openvariable %} project {% templatetag closevariable %}</a></li>
            </ol>
        </div>
        <div class="col-md-9">
            <div class="text-center">
                <!-- Start SearchBox -->
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control text-center text-uppercase" ng-model="project" id="project" placeholder="{% templatetag openvariable %} 'search_findings.filter_menu.search.placeholder' | translate {% templatetag closevariable %}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary form-control" id="search" ng-click="search();" title="{% templatetag openvariable %} 'search_findings.filter_menu.search.button' | translate {% templatetag closevariable %}">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
                    </div>
                </div>
                <!-- End SearchBox -->
            </div>
        </div>
    </div>
    <div class="row">
        <div id="header_alert"></div>
        <br>
        <div id="events_alert" class="alert alert-danger-2" ng-click="urlEvents();" style="display: none; cursor:pointer;">
            <strong>{% templatetag openvariable %} atAlert {% templatetag closevariable %}</strong> {% templatetag openvariable %} descAlert1 {% templatetag closevariable %} {% templatetag openvariable %} openEvents {% templatetag closevariable %} {% templatetag openvariable %} descAlert2 {% templatetag closevariable %}
        </div>
    </div>
</div>
<!-- START: MODAL AVANCE -->
<script type="text/ng-template" id="avance.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{% templatetag openvariable %} 'event_by_name.modal_avance.title' | translate {% templatetag closevariable %}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul style="list-style: none;">
            <li ng-repeat="r in rowsEvent"> #{% templatetag openvariable %} r.id {% templatetag closevariable %} &nbsp;{% templatetag openvariable %} r.type {% templatetag closevariable %} &nbsp;[{% templatetag openvariable %} r.fecha {% templatetag closevariable %} ] ({% templatetag openvariable %}  (r.affectation === undefined)?"Pendiente":r.affectation {% templatetag closevariable %})
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="close()">OK</button>
    </div>
</script>
<div class="main-content" ng-show="view.project" style="background-color: white;">
    <div class="row">
        <div class="col-md-12" id="search_section">
            <div class="row">
                <div class="tab-container">
                    <ul class="nav pills-tabs nav-justified" style="background-color: white; border-bottom: 1px #eee solid;">
                        <li id="indicatorsTab" class="" style="font-size:15px;" ng-click="urlIndicators();">
                            <a href="#indicators" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-graph3"></i>&nbsp; {% templatetag openvariable %} 'tab_container.indicators' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="findingsTab" class="" style="font-size:15px;" ng-click="urlFindings();">
                            <a href="#findings" data-toggle="tab" aria-expanded="false">
                                <i class="icon s7-light"></i>&nbsp;{% templatetag openvariable %} 'tab_container.findings' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="draftsTab" class="" style="font-size:15px;" ng-click="urlDrafts();" ng-show="isManager">
                            <a href="#drafts" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-stopwatch"></i>&nbsp; Drafts
                            </a>
                        </li>
                        <li id="eventsTab" class="" style="font-size:15px;" ng-click="urlEvents();">
                            <a href="#eventualities" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-star"></i>&nbsp;{% templatetag openvariable %} 'tab_container.eventualities' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="resourcesTab" class="active" style="font-size:15px;" ng-click="urlResources();">
                            <a href="#resources" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-box1"></i>&nbsp;{% templatetag openvariable %} 'tab_container.resources' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                        <li id="usersTab" class="" ng-show="isCustomer" style="font-size:15px;" ng-click="urlUsers();">
                            <a href="#users" data-toggle="tab" aria-expanded="true">
                                <i class="icon s7-users"></i>&nbsp;{% templatetag openvariable %} 'tab_container.users' | translate {% templatetag closevariable %}
                            </a>
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <div id="resources" class="tab-pane cont active" >
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12 col-xs-12 col-sm-12 text-left">
                            <h2>{% templatetag openvariable %} 'search_findings.tab_resources.repository' | translate {% templatetag closevariable %}</h2>
                            <hr>
                            <div class="row">
                                <!-- START: toolbar -->
                                <div  class="col-md-12">
                                    <div class="col-md-offset-4 col-md-2 col-sm-6">
                                        <button id="addRepository"
                                                class="btn btn-primary btn-block"
                                                ng-click="addRepository();">
                                            <i class="glyphicon glyphicon-plus"></i>&nbsp;{% templatetag openvariable %} 'search_findings.tab_resources.add_repository' | translate {% templatetag closevariable %}
                                        </button>
                                    </div>
                                    <div class="col-md-2 col-sm-6">
                                        <button  id="remove" class="btn btn-primary btn-block"
                                                    ng-click="removeRepository();">
                                          <i class="glyphicon glyphicon-minus"></i>&nbsp;{% templatetag openvariable %} 'search_findings.tab_resources.remove_repository' | translate {% templatetag closevariable %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12" >
                                    <table  id="tblRepositories"
                                            data-classes="table table-hover table-striped"
                                            data-cookie="true"
                                            data-cookie-id-table="saveIdRepositories"
                                            data-striped="true"
                                            data-pagination="true"
                                            data-page-size="15"
                                            data-toolbar="#toolbar2"
                                            data-search="true"
                                            data-show-export="true"
                                            data-export-types="['csv','excel']"
                                            data-export-data-type="all"
                                            data-click-to-select="true"
                                            data-single-select="true">
                                        <thead>
                                            <tr>
                                              <th data-field="selection" data-checkbox="true" data-width="2%"></th>
                                              <th data-field="urlRepo" data-halign="left" data-valign="middle" data-width="70%" data-sortable="true"
                                              data-class="lower-text">{{ search_findings.repositories_table.repository }}</th>
                                              <th data-field="branch" data-halign="left" data-valign="middle" data-width="30%" data-sortable="true">{{ search_findings.repositories_table.branch }}</th>
                                        </thead>
                                    </table>
                                </div>

                            </div>
                        </div>  
                    </div>
                </div>
            </div>
         </div>
      </div>
   </div>

<!-- Start CommonStyles -->
    <style>
    .column-button {
        width: 50%;
        display:flex;
        padding-left: auto;
        padding-right: auto;
    }
    .pull-right > input {
        width: 400px;
        display:flex;
    }
    @media screen and (max-width: 1320px;) {
    .column-button {
        width: 50%;
        display:flex;
      }
    }
    @media screen and (max-width: 1160px;) {
    .column-button {
        width: 50%;
        display:flex;
      }
    .pull-right > input {
        width: 300px;
        display:flex;
      }
    }
    @media screen and (max-width: 768px) {
    .column-button {
        width: 100%;
        display:initial;
        float: none;
      }
    }
    @media screen and (max-width: 400px) {
    .column-button {
        width: 100%;
        display:initial;
        float: none;
      }
      .pull-right > input {
          width: 250px;
          display:flex;
      }
    }

    .no-resize{ resize: none; height: 100px !important;}
    .hide-detallado, .fl-hidden { display: none; }
    .show-detallado, .fl-visible{ display: block;}
    .pills-tabs > li.active > a,
    .pills-tabs > li.active > a:hover,
    .pills-tabs > li.active > a:focus{
        background-color: #eee;
        color: #777;
    }
    .pills-tabs > li > a,
    .pills-tabs > li > a:hover,
    .pills-tabs > li > a:focus{
        background-color: white;
        color: #666;
    }
    .table-head{
        text-align: right;
    }
    @media (max-width: 768px) {
        .table-head{
            text-align: left;
        }
    }
    .table-row{
        margin-top: 15px;
    }
    .table-desc{
        color: #888;
        text-align: justify;
        /*border-bottom: 0.5px #DDD solid;*/
    }
    #resources thead tr{ background-color: #898787; color:white;  }

</style>
<!-- End CommonStyles -->
