<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FF2; }
    .no-resize{ resize: none;}
</style>
<div class="page-head">
    <h2>{{header.findingTitle}}</h2>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Tipo <span class="label label-default">{{header.findingType}}</span>
        </div>
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Riesgo <span class="label label-default" 
                         style="background-color: #F12;">Alto</span>
        </div>
        <div class="col-md-2  col-sm-12"  style="margin-top: 5px;">
            Criticidad <span class="label label-default"
                             style="{{header.findingValueColor}}">{{header.findingValue}} {{header.findingValueDescription}}</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Cardinalidad <span class="label label-default">{{header.findingCount}}</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Estado <span class="label label-warning"
                         style="background-color: #F12;">Abierto</span>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <hr>
            Fecha de reporte: <b>06/06/06 03:02:01</b>
        </div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center"></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="tab-container">
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size:15px;">
                        <a href="#home" data-toggle="tab" aria-expanded="false">
                        <i class="icon s7-note2" ></i>&nbsp;Información</a>
                    </li>
                    <li class="" style="font-size:15px;">
                        <a href="#tracking" data-toggle="tab" aria-expanded="true">
                        <i class="icon s7-graph1"></i>&nbsp;Tracking</a>
                    </li>
                    <li style="font-size:15px;">
                        <a href="#explotation" data-toggle="tab">
                        <i class="icon s7-gleam"></i>&nbsp;Explotación</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane cont active">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Proyecto Fluid</label>
                                <input type="text" ng-model="finding.proyecto_fluid" 
                                                   class="form-control" disabled>
                            </div>
                            <div class="col-md-3">
                                <label>Proyecto Cliente</label>
                                <input type="text" ng-model="finding.proyecto_cliente" 
                                                   class="form-control" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Titulo</label>
                                <input type="text" ng-model="finding.hallazgo"
                                                   class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Tipo de prueba</label>
                                <select ng-model="finding.tipo_prueba"
                                        class="form-control">
                                    <option ng-repeat="item in list.finding_test_type" 
                                            value="{{item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Actor</label>
                                <select ng-model="finding.actor"
                                        class="form-control">
                                    <option ng-repeat="item in list.actor" 
                                            value="{{item.name}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Escenario</label>
                                <select ng-model="finding.escenario"
                                        class="form-control">
                                    <option ng-repeat="item in list.scenario" 
                                            value="{{item.name}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-4" ng-class="esDetallado">
                                <div class="form-group">
                                    <label>Probabilidad</label>
                                    <input type="text" class="form-control" ng-model="finding.probabilidad" disabled>
                                </div>
                            </div>
                            <div class="col-md-2" ng-class="esDetallado">
                                <div class="form-group">
                                    <label>Severidad</label>
                                    <input type="text" class="form-control" ng-model="finding.severidad" disabled>
                                </div>
                            </div>
                            <div class="col-md-3"  ng-class="esDetallado">
                                <div class="form-group">
                                    <label>Valoración Riesgo</label>
                                    <input type="text" class="form-control" ng-model="finding.valor_riesgo" disabled>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <label>Descripcion</label>
                                <textarea class="form-control no-resize"
                                          row="8">{{finding.vulnerabilidad}}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Donde</label>
                                <textarea class="form-control no-resize"
                                          row="8">{{finding.donde}}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Amenaza</label>
                                <textarea class="form-control no-resize"
                                          row="8">{{finding.amenaza}}</textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Riesgo</label>
                                <textarea class="form-control no-resize"
                                          row="8"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Requisito</label>
                                <textarea class="form-control no-resize"
                                          row="8"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label>Recomendación</label>
                                <textarea class="form-control no-resize"
                                          row="8"></textarea>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-md-4">
                                <label>Vector de acceso</label>
                                <select ng-model="finding.vector_acceso"
                                        class="form-control">
                                    <option ng-repeat="item in list.accessVector" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Complejidad de acceso</label>
                                <select ng-model="finding.complejidad_acceso"
                                        class="form-control">
                                    <option ng-repeat="item in list.accessComplexity" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Autenticación</label>
                                <select ng-model="finding.autenticacion"
                                        class="form-control">
                                    <option ng-repeat="item in list.authentication" 
                                            value="{{item.value + ' | ' + item.name}}">
                                            {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Impacto a la Confidencialidad</label>
                                <select ng-model="finding.impacto_confidencialidad"
                                        class="form-control">
                                    <option ng-repeat="item in list.confidenciality" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Impacto a la Integridad</label>
                                <select ng-model="finding.impacto_integridad"
                                        class="form-control">
                                    <option ng-repeat="item in list.integrity" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Impacto a la disponibilidad</label>
                                <select ng-model="finding.impacto_disponibilidad"
                                        class="form-control">
                                    <option ng-repeat="item in list.disponibility" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Explotabilidad</label>
                                <select ng-model="finding.explotabilidad"
                                        class="form-control">
                                    <option ng-repeat="item in list.explotability" 
                                            value="{{item.value + ' | ' + item.name}}">
                                            {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Nivel de resolución</label>
                                <select ng-model="finding.nivel_resolucion"
                                        class="form-control">
                                    <option ng-repeat="item in list.resolutionLevel" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Nivel de confianza</label>
                                <select ng-model="finding.nivel_confianza"
                                        class="form-control">
                                    <option ng-repeat="item in list.realiabilityLevel" 
                                            value="{{item.value + ' | ' + item.name}}">
                                        {{item.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>CSSv2</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>CSSv2 Temporal</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            
                        </div>
                        <p> Consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                    </div>
                    <div id="tracking" class="tab-pane cont">
                        <!--<div class="row">
                            <div class="col-md-12">
                                <p>Cardinalidad Abierta</p>
                                <textarea class="form-control" rows="3" disabled>A</textarea>
                            </div>
                            <div class="col-md-12">
                                <p>Cardinalidad Cerrada</p>
                                <textarea class="form-control" rows="3" disabled>B</textarea>
                            </div>
                            <div class="col-md-12">
                                <p class="text-muted">Reportado por alguien@fluid.la el 04/05/2017 03:03:22</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="timeline">
                                    <li class="timeline-item">
                                        <div class="timeline-date"><span>September 16, 2016</span></div>
                                        <div class="timeline-content">
                                            <div class="timeline-header">
                                                <span class="timeline-time">4:34 PM</span><span class="timeline-autor">Penelope Thornton</span>
                                                <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattis</a>.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-item">
                                        <div class="timeline-date"><span>September 13, 2016</span></div>
                                        <div class="timeline-content">
                                            <div class="timeline-header">
                                                <span class="timeline-time">9:34 PM</span><span class="timeline-autor">Penelope Thornton</span>
                                                <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattis</a>.</p>
                                            </div>
                                        </div>
                                    </li>
            
                                    <li class="timeline-item timeline-loadmore"><a href="#" class="load-more-btn">Load more</a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div id="explotation" class="tab-pane">
                        <p class="text-center">Explotación de la vulnerabilidad <br>
                        FIN.0043 Super Hallazgo</p>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>