<div class="page-head">
    <ol class="breadcrumb">
        <li><a>Ver</a></li>
        <li><a>Hallazgo</a></li>
        <li><a>{{id}}</a></li>
    </ol>
</div>
<style>
    textarea {
        resize: none;
    }

    .main-content {
        background-color: white !important;
    }

    .hide-detallado {
        display: none;
    }

    .show-detallado {
        display: block;
    }
</style>
<div class="main-content">
    <div class="row">
        <div class="col-md-12 text-center loader">
            <img src="assets/img/loading.gif" style="margin-top: 25px;" width="90" heigth="90">
            <h5 class="text-muted">Un momento porfavor, cargando...</h5>
        </div>
        <div class="col-md-10 col-md-offset-2" id="search_section">
            <div class="row container">
                <p>Reportado en <b>{{vuln.timestamp}}</b> </p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Hallazgo</label>
                        <input type="text" class="form-control" ng-model="vuln.hallazgo" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Proyecto</label>
                        <input type="text" class="form-control" ng-model="vuln.proyecto_fluid" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Analista</label>
                        <input type="text" class="form-control" ng-model="vuln.analista" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cardinalidad</label>
                        <input type="text" class="form-control" ng-model="vuln.cardinalidad" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Criticidad</label>
                        <input type="text" class="form-control" ng-model="vuln.criticidad" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-class="esDetallado">
                    <div class="form-group">
                        <label>Probabilidad</label>
                        <input type="text" class="form-control" ng-model="vuln.probabilidad" disabled>
                    </div>
                </div>
                <div class="col-md-2" ng-class="esDetallado">
                    <div class="form-group">
                        <label>Severidad</label>
                        <input type="text" class="form-control" ng-model="vuln.severidad" disabled>
                    </div>
                </div>
                <div class="col-md-3"  ng-class="esDetallado">
                    <div class="form-group">
                        <label>Valoración Riesgo</label>
                        <input type="text" class="form-control" ng-model="vuln.vRiesgo" disabled>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Vulnerabilidad</label>
                        <textarea class="form-control" id="email" rows="2" disabled>{{vuln.vulnerabilidad}}</textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Donde</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.donde}}</textarea>
                    </div>
                </div>
                <div class="col-md-4" ng-class="esGeneral">
                    <div class="form-group">
                        <label>Vectores de ataque</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.vector_ataque}}</textarea>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1" ng-class="esGeneral">
                    <div class="form-group">
                        <label>Sistemas comprometidos</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.sistema_comprometido}}</textarea>
                    </div>
                </div>
                <div class="col-md-9" ng-class="esDetallado">
                    <div class="form-group">
                        <label>Riesgo</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.riesgo}}</textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Amenaza</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.amenaza}}</textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Requisitos</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.requisitos}}</textarea>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="form-group">
                        <label>Recomendación</label>
                        <textarea class="form-control" id="email" disabled rows="4">{{vuln.solucion_efecto}}</textarea>
                    </div>
                </div>
                <script>
                    if (userRole == "customer"){
                        $('#edit_button').hide();
                    }
                </script>
                <div class="col-md-9 text-center" style="margin-bottom: 10px;">
                    <button class="btn btn-warning" type="button" onclick="window.close();">Cerrar</button>
                    <a id="edit_button" class="btn btn-primary" type="button" href="{{linkUpdate}}" >Editar</a>
                </div>
            </div>
        </div>
    </div>
