<div class="page-head">
    <ol class="breadcrumb">
        <li><a href="#">Busqueda</a></li>
        <li><a href="#">Hallazgos por fecha</a></li>
    </ol>
</div>
<div class="main-content">
    <h3 class="text-center">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                Desde<input class="form-control datepicker" ng-model="from" placeholder="FECHA APROXIMADA DE INICIO">
            </div>
            <div class="col-md-3">
                <div class="input-group">Hasta<input class="form-control datepicker" ng-model="to" placeholder="FECHA APROXIMADA DE FIN" style="width: 215px;">
                    <span class="input-group-btn" style="padding-top: 20px; ">
                        <button class="btn btn-primary" ng-click="searchVulnByDate();" title="Buscar">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </h3>
</div>