<style>
    .bg-critical{ background-color: #F12; }
    .bg-moderate{ background-color: #F72; }
    .bg-tolerable{ background-color: #FF2; }
</style>
<div class="page-head">
    <h2>{{header.findingTitle}}</h2>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Tipo <span class="label label-default">{{header.findingType}}</span>
        </div>
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Riesgo <span class="label label-default" 
                         style="background-color: #F12;">Alto</span>
        </div>
        <div class="col-md-2  col-sm-12"  style="margin-top: 5px;">
            Criticidad <span class="label label-default"
                             style="{{header.findingValueColor}}">{{header.findingValue}} {{header.findingValueDescription}}</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Cardinalidad <span class="label label-default">{{header.findingCount}}</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Estado <span class="label label-warning"
                         style="background-color: #F12;">Abierto</span>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <hr>
            Fecha de reporte: <b>06/06/06 03:02:01</b>
        </div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center"></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="tab-container">
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size:15px;">
                        <a href="#home" data-toggle="tab" aria-expanded="false">
                        <i class="icon s7-note2" ></i>&nbsp;Información</a>
                    </li>
                    <li class="" style="font-size:15px;">
                        <a href="#tracking" data-toggle="tab" aria-expanded="true">
                        <i class="icon s7-graph1"></i>&nbsp;Tracking</a>
                    </li>
                    <li style="font-size:15px;">
                        <a href="#explotation" data-toggle="tab">
                        <i class="icon s7-gleam"></i>&nbsp;Explotación</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane cont active">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Proyecto</label>
                                <input type="text" ng-model="finding.proyecto_fluid" 
                                                   class="form-control" disabled>
                            </div>
                            <div class="col-md-3">
                                <label>Tipo prueba</label>
                                <input type="text" ng-model="finding.tipo_prueba" 
                                                   class="form-control" disabled>
                            </div>
                            <div class="col-md-6">
                                <label>Titulo</label>
                                <input type="text" ng-model="finding.hallazgo"
                                                   class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>Tipo de reporte</label>
                                <input type="text" ng-model="finding.tipo"
                                                   class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>Vulnerabilidades</label>
                                <input type="text" ng-model="finding.hallazgo"
                                                   class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>Actor</label>
                                <input type="text" ng-model="finding.hallazgo"
                                                   class="form-control">
                            </div>
                            <div class="col-md-3">
                                <label>Escenario</label>
                                <input type="text" ng-model="finding.escenario"
                                                   class="form-control">
                            </div>

                        </div>
                        <div class="row">
                            
                        </div>
                        <p> Consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                    </div>
                    <div id="tracking" class="tab-pane cont">
                        <!--<div class="row">
                            <div class="col-md-12">
                                <p>Cardinalidad Abierta</p>
                                <textarea class="form-control" rows="3" disabled>A</textarea>
                            </div>
                            <div class="col-md-12">
                                <p>Cardinalidad Cerrada</p>
                                <textarea class="form-control" rows="3" disabled>B</textarea>
                            </div>
                            <div class="col-md-12">
                                <p class="text-muted">Reportado por alguien@fluid.la el 04/05/2017 03:03:22</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="timeline">
                                    <li class="timeline-item">
                                        <div class="timeline-date"><span>September 16, 2016</span></div>
                                        <div class="timeline-content">
                                            <div class="timeline-header">
                                                <span class="timeline-time">4:34 PM</span><span class="timeline-autor">Penelope Thornton</span>
                                                <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattis</a>.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-item">
                                        <div class="timeline-date"><span>September 13, 2016</span></div>
                                        <div class="timeline-content">
                                            <div class="timeline-header">
                                                <span class="timeline-time">9:34 PM</span><span class="timeline-autor">Penelope Thornton</span>
                                                <p class="timeline-activity">Pellentesque imperdiet sit <a href="#">Amet nisl sed mattis</a>.</p>
                                            </div>
                                        </div>
                                    </li>
            
                                    <li class="timeline-item timeline-loadmore"><a href="#" class="load-more-btn">Load more</a></li>
                                </ul>
                            </div>
                        </div>-->
                    </div>
                    <div id="explotation" class="tab-pane">
                        <p class="text-center">Explotación de la vulnerabilidad <br>
                        FIN.0043 Super Hallazgo</p>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>