<div class="page-head">
    <ol class="breadcrumb">
        <li><a href="#">Busqueda</a></li>
        <li><a href="#">Hallazgos por proyecto</a></li>
    </ol>
</div>
<div class="main-content">
    <h3 class="text-center">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <input class="form-control text-center text-uppercase" 
                       ng-model="project" 
                       id="project" 
                       placeholder="Nombre del proyecto en Fluid">
            </div><!-- /.col-lg-6 -->
            <div class="col-md-3">
                <select class="form-control" ng-model="filtro" ng-required="true">
                    <option value="" selected>Ningún filtro</option>
                    <option value="Análisis">Análisis</option>
                    <option value="Aplicación">Aplicación</option>
                    <option value="Binario">Binario</option>
                    <option value="Código">Código</option>
                    <option value="Infraestructura">Infraestructura</option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary form-control" 
                        id="search" ng-click="searchVulnByName();" 
                        title="Ejecutar esta busqueda">
                <i class="glyphicon glyphicon-search"></i>&nbsp;</button>
            </div>
            <div class="col-md-12">
                <div class="text-muted">
                    <small style="color: #F34444;">{{response}}</small>
                </div>
            </div>
        </div>
        
    </h3>
    <style>
        table {
            background-color: white;
            color: #222;
        }
        th,.tab-tit {
            background-color : #0A62AC !important; 
            color: white !important;
        }
        .avance-modal{
            width: 700px;
            margin: auto;
        }
        .ver-modal{
            width: 1000px !important;
            margin: auto;
        }
        textarea{
            /*resize: none;*/
        }
        .hide-detallado{
            display: none;
        }
        .show-detallado{
            display: block;
        }
    </style>

    <!-- START: MODAL AVANCE -->
    <script type="text/ng-template" id="avance.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Reporte de avance</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul style="list-style: none;">
                <li ng-repeat="r in rows"> - Hallazgos #{{r.id}}:&nbsp;[{{r.criticidad}}&nbsp;CVSS]&nbsp;{{r.hallazgo}}&nbsp;({{r.cardinalidad}})
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="closeModalAvance()">OK</button>
        </div>
    </script>
    <!-- START: MODAL Vincular -->
    <script type="text/ng-template" id="vincular.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Vinculación Proyecto-pedido</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <label>Proyecto</label>
            <input type="text" ng-model="project" class="form-control" disabled />
            <label>Pedido</label>
            <input type="number" ng-model="order" class="form-control"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="closeModal()">Cerrar</button>
            <button class="btn btn-primary" type="button" ng-click="okModal()">Confirmar</button>
        </div>
    </script>
    <div class="row">
        <div class="col-md-12 text-center loader">
            <img src="assets/img/loading.gif" style="margin-top: 25px;" width="90" heigth="90">
            <h5 class="text-muted">Un momento porfavor, cargando...</h5>
        </div>
        <div class="col-md-10 col-md-offset-1" id="search_section">
            <div class="row text-center">
                
            </div>
            <div class="row container">
                <label><b>HALLAZGOS</b></label>
                <label id="total_hallazgos"></label> &nbsp;&nbsp;&nbsp;
                <label><b>CARDINALIDAD</b></label> 
                <label id="total_cardinalidad"></label> &nbsp;&nbsp;&nbsp;
            </div>
            <!-- START: toolbar -->
            <div class="btn-group"  id="toolbar">
                <button type="button" 
                        class="btn btn-default" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="AVANCE!"
                        ng-click="openModalAvance();">
                    AVANCE <i class="glyphicon glyphicon-bookmark"></i>
                <button type="button" 
                        class="btn btn-default" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="GENERAR Y DESCARGAR"
                        ng-click="generateDoc();">
                    DOCUMENTACIÓN <i class="glyphicon glyphicon-star"></i>
                <button type="button" 
                        class="btn btn-default" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        title="ASIGNAR ID!"
                        ng-click="openModalVincular();">
                    RELACIONAR <i class="glyphicon glyphicon-link"></i>
                </button>
            </div>
            <table
                id="vulnerabilities"
                data-click-to-select="true"
                data-classes="table table-hover table-striped"
                data-striped="true"
                data-pagination="true"
                data-page-size="15"
                data-toolbar="#toolbar"
                data-refresh="true"
                data-search="true">
                <thead>
                    <tr style=""> 
                        <th data-formatter="integrates.vuln_formatter"
                            data-width="135">Acción</th>
                        <th data-field="tipo_prueba"
                            data-sortable="true">Tipo prueba</th>
                        <th data-field="hallazgo"
                            data-width="100">Hallazgo</th>
                        <th data-field="vulnerabilidad" style="display:none;">Vulnerabilidad</th>
                        <th data-field="criticidad"
                            data-sortable="true"
                            data-width="30">Criticidad</th>
                        <th data-field="cardinalidad"
                            data-sortable="true"
                            data-width="30">Cardinalidad</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>    
</div>