<div class="page-head">
    <ol class="breadcrumb">
        <li><a>Actualizar</a></li>
        <li><a>Hallazgo</a></li>
        <li><a>{{id}}</a></li>
    </ol>
</div>
<style>
    textarea {
        resize: none;
    }
    
    .main-content {
        background-color: white !important;
    }
    
    .hide-detallado {
        display: none;
    }
    
    .show-detallado {
        display: block;
    }
</style>
<!-- START: MODAL ACTUALIZAR -->
<script type="text/ng-template" id="editar.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Actualizar Hallazgo</h3>
    </div>
    <div class="modal-body" id="modal-body">
        ¿Esta seguro?
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="closeModal()">Cerrar</button>
        <button class="btn btn-primary" type="button" ng-click="okModal()">Confirmar</button>
    </div>
</script>
<div class="main-content">
    <div class="row">
        <div class="col-md-12 text-center loader">
            <img src="assets/img/loading.gif" style="margin-top: 25px;" width="90" heigth="90">
            <h5 class="text-muted">Un momento porfavor, cargando...</h5>
        </div>
        <div class="col-md-10 col-md-offset-2" id="search_section">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Hallazgo</label>
                        <input type="text" class="form-control" ng-model="vuln.hallazgo" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Proyecto</label>
                        <input type="text" class="form-control" ng-model="vuln.proyecto_fluid" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Analista</label>
                        <input type="text" class="form-control" ng-model="vuln.analista" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cardinalidad *</label>
                        <input type="number" class="form-control" ng-model="vuln.cardinalidad">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Criticidad *</label>
                        <input type="number" class="form-control" step="0.01" ng-model="vuln.criticidad">
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Vulnerabilidad *</label>
                        <textarea class="form-control" id="email" rows="2" ng-model="vuln.vulnerabilidad">{{vuln.vulnerabilidad}}</textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Donde *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.donde">{{vuln.donde}}</textarea>
                    </div>
                </div>
                <div class="col-md-4" ng-class="esGeneral">
                    <div class="form-group">
                        <label>Vectores de ataque *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.vector_ataque">{{vuln.vector_ataque}}</textarea>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1" ng-class="esGeneral">
                    <div class="form-group">
                        <label>Sistemas comprometidos *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.sistema_comprometido">{{vuln.sistema_comprometido}}</textarea>
                    </div>
                </div>
                <div class="col-md-9" ng-class="esDetallado">
                    <div class="form-group">
                        <label>Riesgo *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.riesgo">{{vuln.riesgo}}</textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Amenaza *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.amenaza">{{vuln.amenaza}}</textarea>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Requisitos *</label>
                        <textarea class="form-control" id="email" rows="4" ng-model="vuln.requisitos">{{vuln.requisitos}}</textarea>
                    </div>
                </div>
                <div class="col-md-9 text-center" style="margin-bottom: 10px;">
                    <button class="btn btn-warning" type="button" onclick="window.close();">Cerrar</button>
                    <button class="btn btn-primary" type="button" ng-click="openModal()">Actualizar</button>
                </div>
            </div>
        </div>
    </div>