<div class="page-head">
    <h2>FIN.0043 Super Hallazgo</h2>
    <div class="row">
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Tipo <span class="label label-default">Código</span>
        </div>
        <div class="col-md-2 col-sm-6 col-sm-6" style="margin-top: 5px;">
            Riesgo <span class="label label-default" 
                         style="background-color: #F12;">Alto</span>
        </div>
        <div class="col-md-2  col-sm-12"  style="margin-top: 5px;">
            Criticidad <span class="label label-default"
                             style="background-color: #F72;">5.6 Moderado</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Cardinalidad <span class="label label-default">8</span>
        </div>
        <div class="col-md-2"  style="margin-top: 5px;">
            Estado <span class="label label-warning"
                         style="background-color: #F12;">Abierto</span>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <hr>
            Fecha de reporte: <b>06/06/06 03:02:01</b>
        </div>
    </div>
</div>
<div class="main-content">
    <h2 class="text-center"></h2>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="tab-container">
                <ul class="nav nav-tabs">
                    <li class="active" style="font-size:15px;">
                        <a href="#home" data-toggle="tab" aria-expanded="false">
                        <i class="icon s7-note2" ></i>&nbsp;Información</a>
                    </li>
                    <li class="" style="font-size:15px;">
                        <a href="#tracking" data-toggle="tab" aria-expanded="true">
                        <i class="icon s7-graph1"></i>&nbsp;Tracking</a>
                    </li>
                    <li style="font-size:15px;">
                        <a href="#explotation" data-toggle="tab">
                        <i class="icon s7-gleam"></i>&nbsp;Explotación</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane cont active">
                        <p> Consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam dolore veniam mollitia consectetur aut. Cumque sunt consequatur, officiis voluptatum quas atque magnam animi eaque facere cupiditate quos ad totam saepe porro nostrum tenetur. Assumenda esse quidem, sed vel dolore quisquam fuga culpa non, ducimus, impedit fugiat vero similique recusandae?</p>
                    </div>
                    <div id="tracking" class="tab-pane cont">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Fecha</p>
                                <input class="form-control" 
                                       placeholder="dd/mm/yyyy" 
                                       value="04/06/2017" disabled/>
                            </div>
                            <div class="col-md-9">
                                <p>Comentario</p>
                                <input class="form-control" 
                                       value="Cierre1, pd:El ambiente ABC no estaba disponible" disabled/>
                            </div>
                            <div class="col-md-12">
                                <p>Cardinalidad Abierta</p>
                                <textarea class="form-control" rows="3" disabled>A</textarea>
                            </div>
                            <div class="col-md-12">
                                <p>Cardinalidad Cerrada</p>
                                <textarea class="form-control" rows="3" disabled>B</textarea>
                            </div>
                            <div class="col-md-12">
                                <p class="text-muted">Reportado por alguien@fluid.la el 04/05/2017 03:03:22</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn btn-block">Agregar Cambio</button>
                            </div>
                        </div>
                    </div>
                    <div id="explotation" class="tab-pane">
                        <p class="text-center">Explotación de la vulnerabilidad <br>
                        FIN.0043 Super Hallazgo</p>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img src="assets/img/temp.jpg" width="300" height="300" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-6">
                                <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>