:local .header {
  composes: primaryBg from '../../styles/global.css';
  composes: lightFg from '../../styles/global.css';
  padding: 20px 15px;
}

:local .content {
  composes: lightBg from '../../styles/global.css';
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  color: #555555;
  border-width: 0;
}

:local .dialog {
  position: relative;
  margin: 10px;
  padding: 0;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: transparent;
}

:local .overlay {
  z-index: 1050;
}

:local .body {
  position: relative;
  padding: 30px 20px;
}

:local .footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
