:local .modalContainer {
  text-align: center;
}

:local .downloadButtonsContainer {
  display: flex;
  justify-content: center;
}

:local .reportsBtn button {
  float: left !important;
}

:local .tableBtn button {
  float: right !important;
  
}

:local .techExample {
  font-size: 18px;
}