:local .modalContainer {
  text-align: center;
}

:local .downloadButtonsContainer {
  display: flex;
  justify-content: center;
}

:local .reportsBtn button {
  float: right !important;
}

:local .tableBtn button {
  float: left !important;
}

:local .tableModalContainer{
  text-align: center;
}