:local .container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  bottom: 90px;
  color: #ffffff;
  cursor: pointer;
  padding: 4px 9px;
  position: fixed;
  right: 26px;
  transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  -webkit-transition: background-color 0.2s ease;
}

:local .container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

:local .container::before {
  content: '\e682';
  font-family: 'Pe-icon-7-stroke', sans-serif;
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
}
