:local .container {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

:local .container a {
  color: #FFFFFF;
}

:local .active > div:first-child {
  border-right: 4px #FF3435 solid;
}

:local .item {
  padding: 8px 0px 8px 0px;
}

:local .label {
  padding-left: 10px;
}
