<script type="text/javascript">
  $(document).ready(function () {
            var simpleText = 'Last login: ' + userLastLogin.split(".")[0];
            $("#lastLogin").text(simpleText);
        });
</script>
<style>
    table { background-color: white; color: #222; }
    th,.tab-tit { background-color : #898787; !important; color:white; }
</style>
<div class="main-content">
    <h2 class="text-left">{{'main_content.projects.title' | translate}}</h2>
    <p id="lastLogin"></p>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>{{'main_content.projects.description1' | translate}}<b>{{'main_content.projects.description2' | translate}}</b>{{'main_content.projects.description3' | translate}}</p>
            <d-table
              dataset="projectsDataset"
              headers="tblProjectHeaders"
              on-click-row="goToProject"
              page-size="15"
            />
        </div>
    </div>
</div>
