:local .tableHeader {
  background-color: #898787;
  color: white;
  text-align: center !important;
  white-space: unset !important;
}

:local .tableHeader > thead > tr > th {
  text-align: center !important;
  white-space: unset !important;
}

:local .noDataText {
  background: none !important;
  top: 70% !important;
}
