:local .th {
  text-align: left;
  background-color: #898787;
  color: white;
  box-sizing: border-box;
  line-height: 24px;
  padding: 0;
  margin: 0;
  border-left: 1px solid #ddd;
  font-weight: 400;
  font-size: 16px;
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}

:local .td {
  color: #222;
  border-collapse: collapse !important;
  box-sizing: border-box;
  font-weight: 300;
  vertical-align: middle;
  border-left: none;
  padding: 8px;
  cursor: pointer;
}

:local .noDataText {
  background: none !important;
  top: 70% !important;
}
