:local .btn_default {
  color: #555555;
  background-color: #ffffff;
  border-color: #dedede;
}

:local .btn_default:focus,
.btn_default.focus {
  color: #555555;
  background-color: #ffffff;
  border-color: #dedede;
}

:local .btn_default:hover {
  color: #555555;
  background-color: #f7f7f7;
  border-color: #d1d1d1;
}

:local .btn_default:active,
.btn_default.active {
  color: #555555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

:local .btn_default:active:hover,
.btn_default.active:hover,
.btn_default:active:focus,
.btn_default.active:focus,
.btn_default:active.focus,
.btn_default.active.focus {
  color: #555555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

:local .btn_primary {
  border-color: #ff3435;
  color: #ffffff;
  background-color: #ff3435;
}

:local .btn_primary:focus,
.btn_primary.focus,
.btn_primary:active,
.btn_primary.active {
  color: #ffffff;
  background-color: #ff3435;
  border-color: #ff3435;
}

:local .btn_primary:hover {
  color: #ffffff;
  background-color: #8E1616;
  border-color: #8E1616;
}

:local .btn_primary:active:hover,
.btn_primary.active:hover,
.btn_primary:active:focus,
.btn_primary.active:focus,
.btn_primary:active.focus,
.btn_primary.active.focus {
  color: #ffffff;
  background-color: #ff3435;
  border-color: #ff3435;
}

:local .btn_success {
  color: #ffffff;
  background-color: #55beac;
  border-color: #55beac;
}

:local .btn_success:focus,
.btn_success.focus,
.btn_success:active,
.btn_success.active {
  color: #ffffff;
  background-color: #55beac;
  border-color: #55beac;
}

:local .btn_success:hover {
  color: #ffffff;
  background-color: #7accbe;
  border-color: #7accbe;
}

:local .btn_success:active:hover,
.btn_success.active:hover,
.btn_success:active:focus,
.btn_success.active:focus,
.btn_success:active.focus,
.btn_success.active.focus {
  color: #ffffff;
  background-color: #55beac;
  border-color: #55beac;
}

:local .btn_warning {
  color: #ffffff;
  background-color: #ffb43d;
  border-color: #ffb43d;
}

:local .btn_warning:focus,
.btn_warning.focus,
.btn_warning:active,
.btn_warning.active {
  color: #ffffff;
  background-color: #ffb43d;
  border-color: #ffb43d;
}

:local .btn_warning:hover {
  color: #ffffff;
  background-color: #EABF4C;
  border-color: #EABF4C;
}

:local .btn_warning:active:hover,
.btn_warning.active:hover,
.btn_warning:active:focus,
.btn_warning.active:focus,
.btn_warning:active.focus,
.btn_warning.active.focus {
  color: #ffffff;
  background-color: #ffb43d;
  border-color:#ffb43d;
}