:local .styleChart {
	height: 400px !important;
}

:local .styleColorFound{
	color: "hsl(34, 70%, 50%)";
}

:local .styleColorClosed{
	color: "hsl(244, 70%, 50%)";
}

:local .styleColorAccepted{
	color: "hsl(150, 70%, 50%)";
}
