:local .success {
    background-color: #525A5C !important;
}

:local .error {
    background-color: #FF3435 !important;
}

:local .container {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2px;
}
