<IfModule mod_ssl.c>
<VirtualHost *:443>
    WSGIScriptAlias / /var/www/fluid-integrates/fluidintegrates/apache/wsgi.py
	ServerAdmin engineering@fluid.la
	Alias /assets/ /var/www/fluid-integrates/app/assets/
    <Directory "/var/www/fluid-integrates/fluidintegrates/apache/">
		Require all granted
    </Directory>
	<Directory "/assets/">
		Require all granted
	</Directory>
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
    # Configuración SSL
        SSLEngine on
        SSLProxyEngine on
        SSLCertificateFile    /etc/ssl/certs/fluidla.crt
        SSLCertificateKeyFile /etc/ssl/private/fluidla.key

        <FilesMatch "\.(cgi|shtml|phtml|php)$">
                SSLOptions +StdEnvVars
        </FilesMatch>
        <Directory /usr/lib/cgi-bin>
                SSLOptions +StdEnvVars
        </Directory>

        BrowserMatch ".*MSIE.*" \
        nokeepalive ssl-unclean-shutdown \
        downgrade-1.0 force-response-1.0

</VirtualHost>
</IfModule>
