.lightFg {
  color: #fff;
}

.lightBg {
  background-color: #ffffff;
}

.primaryBg {
  background-color: #ff3435;
}

.text {
  font-family: Source Sans Pro, sans-serif;
}

.title {
  font-family: Montserrat, sans-serif;
}

.text_center{
  text-align: center !important;
}
