<div class="page-head">
    <h2>Formularios Analista</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Formularios</li>
        <li>Analista</li>
    </ol>
</div>
<div class="main-content">
    <h3 class="text-center"></h3>
    <div class="row">
        <div class="col-md-4">
            <a href="https://fluid.la/forms/avance" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>AVANCE</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/eventualidad" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>EVENTUALIDADES</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/hallazgos" 
               target="__blank" 
               class="btn btn-primary btn-block">
                <h4>HALLAZGOS</h4>
            </a>
        </div>
    </div>
</div>