<!--[if IE]>
<link rel="stylesheet" type="text/css" media="all" href="https://www.formstack.com/forms/css/3/ie.css?20140508" />
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" media="all" href="https://www.formstack.com/forms/css/3/ie7.css" />
<![endif]-->
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="all" href="https://www.formstack.com/forms/css/3/ie6fixes.css" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/reset.css" />
<link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/3/default.css" />
<link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/../common/css/uil-static.css" />
<link rel="stylesheet" type="text/css" href="//static.formstack.com/forms/css/common/dialogs.css" />
<style type="text/css">
   body {background-color: #FFFFFF;}
   .fsBody .fsForm, .fsForm .fsSpacerRow .fsRowBody {
   background-color: #FFFFFF;
   background-color: rgb(255, 255, 255);
   }
   .fsBody .fsForm {
   border: none;
   }
   .fsForm, .fsError {
   margin-left: auto;
   margin-right: auto;
   }
   .fsBody .fsForm .fsCell {
   padding-top: 10px;
   padding-bottom: 10px;
   }
   .fsBody .fsForm .fsSectionHeader {
   background-color: #DDDDDD;
   }
   .fsBody .fsForm .fsSectionHeading {
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 34px;
   line-height:39px;
   }
   .fsBody .fsForm .fsSectionText {
   color: #000000;
   font-family: Comic Sans MS, cursive;
   font-size: 26px;
   line-height:31px;
   }
   .fsBody .fsForm .fsLabel, .fsBody .fsForm .fsOptionLabel, .fsBody .fsForm .fsMatrix th, .fsBody .fsForm .fsMatrixLabel {
   color: #000000;
   font-family: Helvetica Neue, Arial, Lucida Grande, Tahoma, Verdana, sans-serif;
   font-size: 13px;
   line-height:18px;
   }
   .fsBody .fsForm .fsRequiredLabel {
   color: #000000;
   }
   .fsBody .fsForm input[type=text].fsField,
   .fsBody .fsForm input[type=file].fsField,
   .fsBody .fsForm input[type=number].fsField,
   .fsBody .fsForm input[type=email].fsField,
   .fsBody .fsForm input[type=tel].fsField,
   .fsBody .fsForm textarea.fsField,
   .fsBody .fsForm select.fsField {
   color: #333333;
   border-color: #7C7C7C;
   background-color: #FFFFFF;
   }
   .fsBody .fsForm input[type=text].fsField,
   .fsBody .fsForm input[type=file].fsField,
   .fsBody .fsForm input[type=number].fsField,
   .fsBody .fsForm input[type=email].fsField,
   .fsBody .fsForm input[type=tel].fsField,
   .fsBody .fsForm textarea.fsField {
   padding: 4px;
   }
   .fsBody .fsForm input[type=text].fsRequired,
   .fsBody .fsForm input[type=file].fsRequired,
   .fsBody .fsForm input[type=number].fsRequired,
   .fsBody .fsForm input[type=email].fsRequired,
   .fsBody .fsForm input[type=tel].fsRequired,
   .fsBody .fsForm textarea.fsRequired,
   .fsBody .fsForm select.fsRequired {
   border-color: #EEEEEE;
   background-color: #FFFFFF;
   }
   .fsBody .fsForm .fsSupporting {
   color: #656565;
   }
   .fsBody .fsForm .fsSupporting {
   font-size: 11px;
   }
   .fsPreviousButton,
   .fsSubmitButton,
   .fsNextButton {
   padding: px px !important;
   border: px solid ;
   -moz-border-radius: px !important;
   -webkit-border-radius: px !important;
   border-radius: px !important;
   font-size: px !important;
   font-family: ;
   line-height: px;
   color:  !important;
   background-color:  !important;
   }
</style>
</head>
<body class="fsBody" id="fsLocal">
   <form method="post" novalidate enctype="multipart/form-data" action="https://www.formstack.com/forms/index.php" class="fsForm fsSingleColumn fsMaxCol1" id="fsForm1893295">
      <input type="hidden" name="form" value="1893295" />
      <input type="hidden" name="viewkey" value="veF4gIaHLK" />
      <input type="hidden" name="hidden_fields" id="hidden_fields1893295" value="" />
      <input type="hidden" name="_submit" value="1" />
      <input type="hidden" name="incomplete" id="incomplete1893295" value="" />
      <input type="hidden" name="incomplete_password" id="incomplete_password1893295" />
      <input type="hidden" name="style_version" value="3" />
      <input type="hidden" id="viewparam" name="viewparam" value="600135" />
      <div role="alert" id="requiredFieldsError" style="display:none;">Ingrese un valor válido para todos los campos exigidos.</div>
      <div role="alert" id="invalidFormatError" style="display:none;">Asegúrese de que todos los valores están en un formato adecuado.</div>
      <div role="alert" id="resumeConfirm" style="display:none;">¿Está seguro de que desea cerrar el presente formulario y continuar más tarde?</div>
      <div role="alert" id="resumeConfirmPassword" style="display: none;">¿Seguro que quieres dejar este formulario y reanudar más adelante? Si es así, por favor, introduzca su contraseña abajo para guardar con seguridad su forma.</div>
      <div role="alert" id="saveAndResume" style="display: none;">Guardar y reanudar más tarde</div>
      <div role="alert" id="saveResumeProcess" style="display: none;">Guardar y obtener enlace</div>
      <div role="alert" id="fileTypeAlert" style="display:none;">Debe cargar uno de los siguientes tipo de archivos para el campo seleccionado:</div>
      <div role="alert" id="embedError" style="display:none;">Hubo un error al mostrar el formulario. Copie y pegue el código de inserción nuevamente.</div>
      <div role="alert" id="applyDiscountButton" style="display:none;">Aplicar Descuento</div>
      <div role="alert" id="dcmYouSaved" style="display:none;">Ha guardado</div>
      <div role="alert" id="dcmWithCode" style="display:none;">con el código</div>
      <div role="alert" id="submitButtonText" style="display:none;">Enviar formulario</div>
      <div role="alert" id="submittingText" style="display:none;">Presentación de</div>
      <div role="alert" id="validatingText" style="display:none;">Validar</div>
      <div role="alert" id="autocaptureDisabledText" style="display:none;"></div>
      <div role="alert" id="paymentInitError" style="display:none;">Hubo un error al inicializar el procesador de pagos en este formulario. Por favor, póngase en contacto con el propietario forma de corregir este problema.</div>
      <div role="alert" id="checkFieldPrompt" style="display:none;">Por favor, compruebe el campo:</div>
      <div class="fsPage" id="fsPage1893295-1">
         <div class="fsSection fs1Col">
            <div id="fsRow1893295-1" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212358" lang="es">
                  <h2>Auxilios</h2>
                  <p>Mediante este formulario puedes solicitar la asignación de auxilios no salarizados de transporte y movilidad de meses anteriores al actual y que de ser aprobados se cancelaran en la siguiente nomina.</p>
                  <hr id="horizontalrule">
               </div>
            </div>
            <div id="fsRow1893295-2" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212361" aria-describedby="fsSupporting29212361" lang="es">
                  <label id="label29212361" class="fsLabel fsRequiredLabel" for="field29212361">Solicita<span class="fsRequiredMarker">*</span>                    </label>
                  <input type="email" id="field29212361" name="field29212361" size="50" required="required" placeholder="[login]@fluid.la" title="[login]@fluid.la" value="" class="fsField fsFormatEmail fsRequired" aria-required="true" />
                  <div id="fsSupporting29212361" class="fsSupporting">Persona que solicita cambio en los auxilios por defecto</div>
               </div>
            </div>
            <div id="fsRow1893295-3" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212394" aria-describedby="fsSupporting29212394" lang="es">
                  <label id="label29212394" class="fsLabel fsRequiredLabel" for="field29212394">Mes aplicable<span class="fsRequiredMarker">*</span>                    </label>
                  <select id="field29212394" name="field29212394" size="1"required class="fsField fsRequired" aria-required="true">
                     <option value="">&nbsp;</option>
                     <option value="Enero">Enero</option>
                     <option value="Febrero">Febrero</option>
                     <option value="Marzo">Marzo</option>
                     <option value="Abril">Abril</option>
                     <option value="Mayo">Mayo</option>
                     <option value="Junio">Junio</option>
                     <option value="Julio">Julio</option>
                     <option value="Agosto">Agosto</option>
                     <option value="Septiembre">Septiembre</option>
                     <option value="Octubre">Octubre</option>
                     <option value="Noviembre">Noviembre</option>
                     <option value="Diciembre">Diciembre</option>
                  </select>
                  <div id="fsSupporting29212394" class="fsSupporting">Indique el mes para el cual se reporta la solicitud de cambio de auxilios.</div>
               </div>
            </div>
            <div id="fsRow1893295-4" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212406" aria-describedby="fsSupporting29212406" lang="es">
                  <label id="label29212406" class="fsLabel fsRequiredLabel" for="field29212406">Días laborados en ciudad base<span class="fsRequiredMarker">*</span>                    </label>
                  <input type="number" step="any" id="field29212406" name="field29212406"  required class="fsField fsFormatNumber fsNumberMin-1 fsNumberMax-23 fsRequired" placeholder="1-23" title="1-23" min="1" max="23" aria-required="true" />
                  <div id="fsSupporting29212406" class="fsSupporting">Días que usted trabajo en su ciudad base en el mes en cuestión para el que se reporta el cambio.  Incluir solo los días trabajados.  No incluir días de descanso.  Los días trabajados en ciudades diferentes a su ciudad base se le pagarán mediante el concepto de viaticos.</div>
               </div>
            </div>
            <div id="fsRow1893295-5" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212429" aria-describedby="fsSupporting29212429" lang="es">
                  <label id="label29212429" class="fsLabel fsRequiredLabel" for="field29212429">Minutos salientes<span class="fsRequiredMarker">*</span>                    </label>
                  <input type="number" step="any" id="field29212429" name="field29212429"  required class="fsField fsFormatNumber fsNumberMin-1 fsNumberMax-1500 fsRequired" placeholder="1-1500" title="1-1500" min="1" max="1500" aria-required="true" />
                  <div id="fsSupporting29212429" class="fsSupporting">Minutos salientes de su plan personal de telefonía celular utilizados para motivos de la empresa en el periodo reportado.</div>
               </div>
            </div>
            <div id="fsRow1893295-6" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212443" aria-describedby="fsSupporting29212443" lang="es">
                  <label id="label29212443" class="fsLabel fsRequiredLabel" for="field29212443">Días en una sola ubicación<span class="fsRequiredMarker">*</span>                    </label>
                  <input type="number" step="any" id="field29212443" name="field29212443"  required class="fsField fsFormatNumber fsNumberMin-0 fsNumberMax-1500 fsRequired" placeholder="0-23" title="0-23" min="0" max="1500" aria-required="true" />
                  <div id="fsSupporting29212443" class="fsSupporting">Indica los días laborales aproximados del periodo reportado en los cuales usted solo fue a un lugar: Solo fue al cliente, Solo fue a FLUID o se le autorizo tele-trabajo (Excluir Sábados, Domingos y Festivos si no se laboró).</div>
               </div>
            </div>
            <div id="fsRow1893295-7" class="fsRow fsFieldRow fsLastRow">
               <div class="fsRowBody fsCell fsFieldCell fsFirst fsLast fsLabelVertical fsSpan100" id="fsCell29212451" lang="es">
                  <label id="label29212451" class="fsLabel" for="field29212451">Observaciones                    </label>
                  <textarea id="field29212451" name="field29212451" rows="8" cols="50" placeholder="Otras aclaraciones que considere pertinente realizar." title="Otras aclaraciones que considere pertinente realizar." class="fsField"></textarea>
               </div>
            </div>
         </div>
      </div>
      <div id="fsSubmit1893295" class="fsSubmit fsPagination">
         <button type="button" id="fsPreviousButton1893295" class="fsPreviousButton" value="Previous Page" style="display:none;"><span class="fsFull">Anterior</span><span class="fsSlim">&larr;</span></button>
         <button type="button" id="fsNextButton1893295" class="fsNextButton" value="Next Page" style="display:none;"><span class="fsFull">Siguiente</span><span class="fsSlim">&rarr;</span></button>
         <input id="fsSubmitButton1893295"
            class="fsSubmitButton"
            style="display: block;"
            type="submit"
            value="Enviar formulario" />
         <div class="clear"></div>
      </div>
      <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery.min.js"></script>
      <script type="text/javascript" src="//static.formstack.com/forms/js/3/jquery-ui.min.js"></script>
      <script type="text/javascript" src="//static.formstack.com/forms/js/3/scripts.js"></script>
      <script type="text/javascript" src="//static.formstack.com/forms/js/3/analytics.js"></script>
      <script type="text/javascript" src="//static.formstack.com/forms/js/3/google-phone-lib.js"></script>
      <script type="text/javascript">
         if(window.addEventListener) {
         window.addEventListener('load', loadFormstack, false);
         } else if(window.attachEvent) {
         window.attachEvent('onload', loadFormstack);
         } else {
         loadFormstack();
         }
         function loadFormstack() {
         var form1893295 = new Formstack.Form(1893295, 'https://www.formstack.com/forms/');
         form1893295.logicFields = [];
         form1893295.calcFields = [];
         form1893295.init();
         form1893295.plugins.analytics = new Formstack.Analytics('https://www.formstack.com', 1893295, form1893295);
         form1893295.plugins.analytics.trackTouch();
         form1893295.plugins.analytics.trackBottleneck();
         window.form1893295 = form1893295;
         };
      </script>
   </form>
   <img src="https://www.formstack.com/forms/count.php?1893295" alt="Form View Counter" width="1" height="1" border="0" />
   <div class="fs-ngdialog fs-modal-medium fs-form-dialog fs-form-dialog--hidden">
   <div class="fs-ngdialog-overlay"></div>
   <div class="fs-ngdialog-content">
      <div class="fs-modal__top fs-form-dialog__title"></div>
      <div class="fs-modal__middle">
         <div class="fs-form-dialog__message"></div>
         <label class="hidden"
            for="fsSaveResumePassword">Ingrese su parada de reanudar la contraseña</label>
         <input type="password"
            id="fsSaveResumePassword"
            class="fs-form-input fs-form-dialog__password fs-form-dialog--hidden fs--mt20" placeholder="Ingrese su parada de reanudar la contraseña">
      </div>
      <div class="fs-modal__bottom">
         <a class="fs-form-dialog__cancel fs-btn2 fs-btn2--size_medium fs-btn2--style_edit-dark" title="Cancelar">
            <div class="fs-btn2__content">
               <div class="fs-btn2__text">
                  <span class="fs-form-dialog__button-text">Cancelar</span>
               </div>
            </div>
         </a>
         <a class="fs-form-dialog__confirm fs-btn2 fs-btn2--size_medium fs-btn2--style_create fs--float-right" title="Confirmar">
            <div class="fs-btn2__content">
               <div class="fs-btn2__text">
                  <span class="fs-form-dialog__button-text">Confirmar</span>
               </div>
            </div>
         </a>
      </div>
   </div>
</body>