<div class="page-head">
    <h2>Formularios Producción</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Formularios</li>
        <li>Producción</li>
    </ol>
</div>
<div class="main-content">
    <h3 class="text-center"></h3>
    <div class="row">
        <div class="col-md-4">
            <a href="https://fluid.la/forms/adjunto" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>ADJUNTO</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/compras" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>COMPRAS</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/factura" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>FACTURA</h4>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 5px"> 
        <div class="col-md-4">
            <a href="https://fluid.la/forms/pedido" 
               target="__blank" 
               class="btn btn-primary btn-block">
                <h4>PEDIDO</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/remision" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>REMISIÓN</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/reserva" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>RESERVA</h4>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top: 5px"> 
        <div class="col-md-4">
            <a href="https://fluid.la/forms/solicitud" 
               target="__blank" 
               class="btn btn-primary btn-block">
                <h4>OPORTUNIDADES</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/bancolombiapedido" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>OPORTUNIDADES BANCOLOMBIA</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/tercero" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>TERCERO</h4>
            </a>
        </div>
    </div>
</div>