<div class="page-head">
    <h2>Formularios Talento</h2>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Formularios</li>
        <li>Talento</li>
    </ol>
</div>
<div class="main-content">
    <h3 class="text-center"></h3>
    <div class="row">
        <div class="col-md-4">
            <a href="https://fluid.la/forms/bienestar" 
               target="__blank" 
               class="btn btn-primary btn-block">
               <h4>BIENESTAR</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/novedad" 
               target="__blank" 
               class="btn btn-primary btn-block">
                <h4>NOVEDAD</h4>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://fluid.la/forms/retroalimentacion" 
               target="__blank" 
               class="btn btn-primary btn-block">
                <h4>RETROALIMENTACION</h4>
            </a>
        </div>
    </div>
</div>