{% load mixpanel %}
{% load intercom %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
    <title>Integrates | Fluid Attacks</title>
    <link rel="stylesheet" type="text/css" href="assets/amaretti/lib/stroke-7/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/amaretti/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/dashboard/main-style.min.css" type="text/css">
    <link rel="stylesheet" href="assets/dashboard/dashboard-style.min.css" type="text/css">

    {% mixpanel %}
    {% if not request.session.accept_legal %}
      <script>
        var getUrl=window.location.hash.substr(1);
        localStorage.setItem("url_inicio", getUrl);
        location = window.location.href.split("/dashboard")[0] + "/registration";
      </script>
    {% endif %}
    <script>
    mixpanel.identify("{{ request.session.username }}");
    mixpanel.people.set({
        "$email": "{{ request.session.username }}",
        "$last_login": new Date(),
        "$first_name": "{{ request.session.first_name }}",
        "$last_name": "{{ request.session.last_name }}",
        "$Role": "{{ request.session.role }}",
        "$Organization": "{{ request.session.company }}".toUpperCase(),
        "$Language": localStorage['lang'],
    });
    var userEmail = "{{ request.session.username }}";
    var userRole = "{{ request.session.role }}";
    var userLastLogin = "{{ request.session.last_login }}";
    var Organization = "{{ request.session.company }}";
    var userName = "{{ request.session.first_name }} {{ request.session.last_name }}";
    function goDash(){
      location = BASE.url + "dashboard#!/home";
    }
    function goSearch(){
      location = BASE.url + "dashboard#!/project";
    }
    </script>
  </head>
  <body>
    <div class="am-wrapper">
      <div id="root" />
    </div>
    <script src="assets/dashboard/dashboard-bundle.min.js" type="text/javascript"></script>
    <script src="https://rum-static.pingdom.net/pa-5ae7406129ccc50006000057.js" async></script>
    {% csrf_token %}
{% intercom_tag %}
  </body>
</html>
