{% load mixpanel %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/amaretti/img/favicon.png">
    <title>FlUIDIntegrates v3.5</title>
    <link rel="stylesheet" type="text/css" href="assets/amaretti/lib/stroke-7/style.css"/>
    <link rel="stylesheet" type="text/css" href="assets/amaretti/lib/jquery.nanoscroller/css/nanoscroller.css"/><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="assets/amaretti/css/style.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="assets/amaretti/lib/jquery.gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap-table/dist/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="assets/bower_components/angular-bootstrap/ui-bootstrap-csp.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.png">
    <style>
      .btb-header{
        background-color : #3D3C3C; color: white;
      }
    </style>
    {% mixpanel %}
    <script>
    mixpanel.identify("{{ request.session.username }}");
    mixpanel.people.set({
        "$email": "{{ request.session.username }}",
        "$first_name": "{{ request.session.first_name }}",
        "$last_name": "{{ request.session.last_name }}",
        "$last_login": new Date(),
    });
    mixpanel.track(
        "Registration", {
            "Email": "{{ request.session.username }}",
        }
    );
    </script>
  </head>
  <body class="am-splash-screen" ng-app="FluidIntegrates">
    <div class="am-wrapper">
      <nav class="navbar navbar-default navbar-fixed-top am-top-header">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="page-title">
              <span>Dashboard</span>
            </div>
            <a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="icon-bar"><span></span><span></span><span></span></span></a><a href="dashboard" class="navbar-brand"></a>
          </div><a href="#" class="am-toggle-right-sidebar"><span class="icon s7-menu2"></span></a><a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"><span class="icon s7-angle-down"></span></a>
          <div id="am-navbar-collapse" class="collapse navbar-collapse" ng-controller="dashboardController">
            <ul class="nav navbar-nav am-nav-right">
            <li><a ui-sref="home"><b>FLUIDIntegrates</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right am-icons-nav">
              <li class="dropdown">
                <a href="" ng-click="logout();" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                  <span class="icon s7-power"></span>
                </a>
                <!-- START: MODAL ELIMINAR -->
                <script type="text/ng-template" id="logout.html">
                    <div class="modal-header">
                        <h3 class="modal-title" id="modal-title">Cerrar Sesión</h3>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <p>Esta seguro de que desea salir?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" type="button" ng-click="closeModalLogout()">No</button>
                        <button class="btn btn-primary" type="button" ng-click="okModalLogout()">Si</button>
                    </div>
                </script>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="am-wrapper am-login">
      <div class="am-content">
        <div class="main-content">
          <div class="login-container">
            <div class="panel panel-default">
                <div class="panel-heading"><img src="assets/img/logo.png" alt="logo"   class="logo-img"></div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                    <span style="color: white;">
                        <br>
                        <h1>Hola {{ user.first_name }}!</h1>
                        <br>
                        {% if is_registered == '1' %}
                            <script>location = "dashboard"</script>
                        {% else %}
                            <p>No tienes autorización aun para ingresar. Comunícate con un representante de FLUID para el acceso.</p>
                        {% endif %}
                    </span>
                    </div>
                </div>
          </div>
      </div>
    </div>
    {% csrf_token %}
    <script src="assets/amaretti/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="assets/amaretti/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
    <script src="assets/amaretti/js/main.js" type="text/javascript"></script>
    <script src="assets/amaretti/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/amaretti/lib/jquery.gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <script src="assets/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="assets/bower_components/bootstrap-table/dist/js/bootstrap-table.min.js"></script>
    <script src="assets/bower_components/bootstrap-table/dist/js/bootstrap-table-es-AR.min.js"></script>
    <script src="assets/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="assets/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="assets/bower_components/datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/bower_components/datepicker/dist/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="assets/bower_components/bootstrap-table/dist/js/bootstrap-table-export.js"></script>
    <script src="assets/bower_components/downloadjs/download.js"></script>
    <script src="assets/app/app.js"></script>
    <script src="assets/app/models/findingFactory.js" type="text/javascript"></script>
    <script src="assets/app/models/eventualityFactory.js" type="text/javascript"></script>
    <script src="assets/app/controllers/findingController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/findingDeleteController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/findingReadController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/findingUpdateController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/eventualityController.js" type="text/javascript"></script>
    <script src="assets/app/controllers/dashboardController.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        //initialize the javascript
        App.init();
      });

    </script>
    </script>
  </body>
</html>
